{
  "openapi": "3.0.1",
  "info": {
    "title": "Square Connect API",
    "description": "Client library for accessing the Square Connect APIs",
    "termsOfService": "https://connect.squareup.com/tos",
    "contact": {
      "name": "Square Developer Platform",
      "url": "https://squareup.com/developers",
      "email": "developers@squareup.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "2.0"
  },
  "externalDocs": {
    "description": "Read the official documentation here:",
    "url": "https://docs.connect.squareup.com/"
  },
  "servers": [
    {
      "url": "https://connect.squareup.com/"
    }
  ],
  "paths": {
    "/mobile/authorization-code": {
      "post": {
        "tags": [
          "MobileAuthorization"
        ],
        "summary": "CreateMobileAuthorizationCode",
        "description": "Generates code to authorize a mobile application to connect to a Square card reader\n\nAuthorization codes are one-time-use and expire __60 minutes__ after being issued.\n\n__Important:__ The `Authorization` header you provide to this endpoint must have the following format:\n\n```\nAuthorization: Bearer ACCESS_TOKEN\n```\n\nReplace `ACCESS_TOKEN` with a\n[valid production authorization credential](/docs/build-basics/access-tokens).",
        "operationId": "CreateMobileAuthorizationCode",
        "requestBody": {
          "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMobileAuthorizationCodeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMobileAuthorizationCodeResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "PAYMENTS_WRITE_IN_PERSON"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "PAYMENTS_WRITE_IN_PERSON"
        ],
        "x-sq-version": "2021-03-17",
        "x-codegen-request-body-name": "body"
      }
    },
    "/oauth2/clients/{client_id}/access-token/renew": {
      "post": {
        "tags": [
          "OAuth"
        ],
        "summary": "RenewToken",
        "description": "`RenewToken` is deprecated. For information about refreshing OAuth access tokens, see\n[Renew OAuth Token](https://developer.squareup.com/docs/oauth-api/cookbook/renew-oauth-tokens).\n\n\nRenews an OAuth access token before it expires.\n\nOAuth access tokens besides your application's personal access token expire after __30 days__.\nYou can also renew expired tokens within __15 days__ of their expiration.\nYou cannot renew an access token that has been expired for more than 15 days.\nInstead, the associated user must re-complete the OAuth flow from the beginning.\n\n__Important:__ The `Authorization` header for this endpoint must have the\nfollowing format:\n\n```\nAuthorization: Client APPLICATION_SECRET\n```\n\nReplace `APPLICATION_SECRET` with the application secret on the Credentials\npage in the [application dashboard](https://connect.squareup.com/apps).",
        "operationId": "RenewToken",
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "description": "Your application ID, available from the [application dashboard](https://connect.squareup.com/apps).",
            "required": true,
            "schema": {
              "type": "string",
              "x-is-deprecated": true
            },
            "x-is-deprecated": true
          }
        ],
        "requestBody": {
          "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenewTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RenewTokenResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2ClientSecret": []
          }
        ],
        "x-release-status": "DEPRECATED",
        "x-is-deprecated": true,
        "x-sq-version": "2021-03-17",
        "x-codegen-request-body-name": "body"
      }
    },
    "/oauth2/revoke": {
      "post": {
        "tags": [
          "OAuth"
        ],
        "summary": "RevokeToken",
        "description": "Revokes an access token generated with the OAuth flow.\n\nIf an account has more than one OAuth access token for your application, this\nendpoint revokes all of them, regardless of which token you specify. When an\nOAuth access token is revoked, all of the active subscriptions associated\nwith that OAuth token are canceled immediately.\n\n__Important:__ The `Authorization` header for this endpoint must have the\nfollowing format:\n\n```\nAuthorization: Client APPLICATION_SECRET\n```\n\nReplace `APPLICATION_SECRET` with the application secret on the Credentials\npage in the [Developer Dashboard](https://developer.squareup.com/apps).",
        "operationId": "RevokeToken",
        "requestBody": {
          "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevokeTokenResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2ClientSecret": []
          }
        ],
        "x-release-status": "PUBLIC",
        "x-sq-version": "2021-03-17",
        "x-codegen-request-body-name": "body"
      }
    },
    "/oauth2/token": {
      "post": {
        "tags": [
          "OAuth"
        ],
        "summary": "ObtainToken",
        "description": "Returns an OAuth access token.\n\nThe endpoint supports distinct methods of obtaining OAuth access tokens.\nApplications specify a method by adding the `grant_type` parameter\nin the request and also provide relevant information.\n\n__Note:__ Regardless of the method application specified,\nthe endpoint always returns two items; an OAuth access token and\na refresh token in the response.\n\n__OAuth tokens should only live on secure servers. Application clients\nshould never interact directly with OAuth tokens__.",
        "operationId": "ObtainToken",
        "requestBody": {
          "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ObtainTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObtainTokenResponse"
                }
              }
            }
          }
        },
        "x-release-status": "PUBLIC",
        "x-sq-version": "2021-03-17",
        "x-codegen-request-body-name": "body"
      }
    },
    "/v1/me/employees": {
      "get": {
        "tags": [
          "V1Employees"
        ],
        "summary": "ListEmployees",
        "description": "Provides summary information for all of a business's employees.",
        "operationId": "ListEmployees",
        "parameters": [
          {
            "name": "order",
            "in": "query",
            "description": "The order in which employees are listed in the response, based on their created_at field.      Default value: ASC",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "begin_updated_at",
            "in": "query",
            "description": "If filtering results by their updated_at field, the beginning of the requested reporting period, in ISO 8601 format",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_updated_at",
            "in": "query",
            "description": "If filtering results by there updated_at field, the end of the requested reporting period, in ISO 8601 format.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "begin_created_at",
            "in": "query",
            "description": "If filtering results by their created_at field, the beginning of the requested reporting period, in ISO 8601 format.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_created_at",
            "in": "query",
            "description": "If filtering results by their created_at field, the end of the requested reporting period, in ISO 8601 format.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "If provided, the endpoint returns only employee entities with the specified status (ACTIVE or INACTIVE).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "external_id",
            "in": "query",
            "description": "If provided, the endpoint returns only employee entities with the specified external_id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum integer number of employee entities to return in a single response. Default 100, maximum 200.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "batch_token",
            "in": "query",
            "description": "A pagination cursor to retrieve the next set of results for your\noriginal query to the endpoint.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/V1Employee"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "EMPLOYEES_READ"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "EMPLOYEES_READ"
        ],
        "x-sq-version": "2021-03-17"
      },
      "post": {
        "tags": [
          "V1Employees"
        ],
        "summary": "CreateEmployee",
        "description": " Use the CreateEmployee endpoint to add an employee to a Square\naccount. Employees created with the Connect API have an initial status\nof `INACTIVE`. Inactive employees cannot sign in to Square Point of Sale\nuntil they are activated from the Square Dashboard. Employee status\ncannot be changed with the Connect API.\n\nEmployee entities cannot be deleted. To disable employee profiles,\nset the employee's status to <code>INACTIVE</code>",
        "operationId": "CreateEmployee",
        "requestBody": {
          "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1Employee"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1Employee"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "EMPLOYEES_WRITE"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "EMPLOYEES_WRITE"
        ],
        "x-sq-version": "2021-03-17",
        "x-codegen-request-body-name": "body"
      }
    },
    "/v1/me/employees/{employee_id}": {
      "get": {
        "tags": [
          "V1Employees"
        ],
        "summary": "RetrieveEmployee",
        "description": "Provides the details for a single employee.",
        "operationId": "RetrieveEmployee",
        "parameters": [
          {
            "name": "employee_id",
            "in": "path",
            "description": "The employee's ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1Employee"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "EMPLOYEES_READ"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "EMPLOYEES_READ"
        ],
        "x-sq-version": "2021-03-17"
      },
      "put": {
        "tags": [
          "V1Employees"
        ],
        "summary": "UpdateEmployee",
        "operationId": "UpdateEmployee",
        "parameters": [
          {
            "name": "employee_id",
            "in": "path",
            "description": "The ID of the role to modify.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1Employee"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1Employee"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "EMPLOYEES_WRITE"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "EMPLOYEES_WRITE"
        ],
        "x-sq-version": "2021-03-17",
        "x-codegen-request-body-name": "body"
      }
    },
    "/v1/me/roles": {
      "get": {
        "tags": [
          "V1Employees"
        ],
        "summary": "ListEmployeeRoles",
        "description": "Provides summary information for all of a business's employee roles.",
        "operationId": "ListEmployeeRoles",
        "parameters": [
          {
            "name": "order",
            "in": "query",
            "description": "The order in which employees are listed in the response, based on their created_at field.Default value: ASC",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum integer number of employee entities to return in a single response. Default 100, maximum 200.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "batch_token",
            "in": "query",
            "description": "A pagination cursor to retrieve the next set of results for your\noriginal query to the endpoint.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/V1EmployeeRole"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "EMPLOYEES_READ"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "EMPLOYEES_READ"
        ],
        "x-sq-version": "2021-03-17"
      },
      "post": {
        "tags": [
          "V1Employees"
        ],
        "summary": "CreateEmployeeRole",
        "description": "Creates an employee role you can then assign to employees.\n\nSquare accounts can include any number of roles that can be assigned to\nemployees. These roles define the actions and permissions granted to an\nemployee with that role. For example, an employee with a \"Shift Manager\"\nrole might be able to issue refunds in Square Point of Sale, whereas an\nemployee with a \"Clerk\" role might not.\n\nRoles are assigned with the [V1UpdateEmployee](#endpoint-v1updateemployee)\nendpoint. An employee can have only one role at a time.\n\nIf an employee has no role, they have none of the permissions associated\nwith roles. All employees can accept payments with Square Point of Sale.",
        "operationId": "CreateEmployeeRole",
        "requestBody": {
          "description": "An EmployeeRole object with a name and permissions, and an optional owner flag.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1EmployeeRole"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1EmployeeRole"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "EMPLOYEES_WRITE"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "EMPLOYEES_WRITE"
        ],
        "x-sq-version": "2021-03-17",
        "x-codegen-request-body-name": "employee_role"
      }
    },
    "/v1/me/roles/{role_id}": {
      "get": {
        "tags": [
          "V1Employees"
        ],
        "summary": "RetrieveEmployeeRole",
        "description": "Provides the details for a single employee role.",
        "operationId": "RetrieveEmployeeRole",
        "parameters": [
          {
            "name": "role_id",
            "in": "path",
            "description": "The role's ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1EmployeeRole"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "EMPLOYEES_READ"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "EMPLOYEES_READ"
        ],
        "x-sq-version": "2021-03-17"
      },
      "put": {
        "tags": [
          "V1Employees"
        ],
        "summary": "UpdateEmployeeRole",
        "description": "Modifies the details of an employee role.",
        "operationId": "UpdateEmployeeRole",
        "parameters": [
          {
            "name": "role_id",
            "in": "path",
            "description": "The ID of the role to modify.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1EmployeeRole"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1EmployeeRole"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "EMPLOYEES_WRITE"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "EMPLOYEES_WRITE"
        ],
        "x-sq-version": "2021-03-17",
        "x-codegen-request-body-name": "body"
      }
    },
    "/v1/{location_id}/orders": {
      "get": {
        "tags": [
          "V1Transactions"
        ],
        "summary": "ListOrders",
        "description": "Provides summary information for a merchant's online store orders.",
        "operationId": "ListOrders",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the location to list online store orders for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "The order in which payments are listed in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of payments to return in a single response. This value cannot exceed 200.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "batch_token",
            "in": "query",
            "description": "A pagination cursor to retrieve the next set of results for your\noriginal query to the endpoint.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/V1Order"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ORDERS_READ"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-visibility": "SDK_ONLY",
        "x-oauthpermissions": [
          "ORDERS_READ"
        ],
        "x-sq-version": "2021-03-17"
      }
    },
    "/v1/{location_id}/orders/{order_id}": {
      "get": {
        "tags": [
          "V1Transactions"
        ],
        "summary": "RetrieveOrder",
        "description": "Provides comprehensive information for a single online store order, including the order's history.",
        "operationId": "RetrieveOrder",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the order's associated location.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_id",
            "in": "path",
            "description": "The order's Square-issued ID. You obtain this value from Order objects returned by the List Orders endpoint",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1Order"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ORDERS_READ"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-visibility": "SDK_ONLY",
        "x-oauthpermissions": [
          "ORDERS_READ"
        ],
        "x-sq-version": "2021-03-17"
      },
      "put": {
        "tags": [
          "V1Transactions"
        ],
        "summary": "UpdateOrder",
        "description": "Updates the details of an online store order. Every update you perform on an order corresponds to one of three actions:",
        "operationId": "UpdateOrder",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the order's associated location.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_id",
            "in": "path",
            "description": "The order's Square-issued ID. You obtain this value from Order objects returned by the List Orders endpoint",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1UpdateOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1Order"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ORDERS_WRITE"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-visibility": "SDK_ONLY",
        "x-oauthpermissions": [
          "ORDERS_WRITE"
        ],
        "x-sq-version": "2021-03-17",
        "x-codegen-request-body-name": "body"
      }
    },
    "/v1/{location_id}/payments": {
      "get": {
        "tags": [
          "V1Transactions"
        ],
        "summary": "ListPayments",
        "description": "Provides summary information for all payments taken for a given\nSquare account during a date range. Date ranges cannot exceed 1 year in\nlength. See Date ranges for details of inclusive and exclusive dates.\n\n*Note**: Details for payments processed with Square Point of Sale while\nin offline mode may not be transmitted to Square for up to 72 hours.\nOffline payments have a `created_at` value that reflects the time the\npayment was originally processed, not the time it was subsequently\ntransmitted to Square. Consequently, the ListPayments endpoint might\nlist an offline payment chronologically between online payments that\nwere seen in a previous request.",
        "operationId": "ListPayments",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the location to list payments for. If you specify me, this endpoint returns payments aggregated from all of the business's locations.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "The order in which payments are listed in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "begin_time",
            "in": "query",
            "description": "The beginning of the requested reporting period, in ISO 8601 format. If this value is before January 1, 2013 (2013-01-01T00:00:00Z), this endpoint returns an error. Default value: The current time minus one year.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "The end of the requested reporting period, in ISO 8601 format. If this value is more than one year greater than begin_time, this endpoint returns an error. Default value: The current time.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of payments to return in a single response. This value cannot exceed 200.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "batch_token",
            "in": "query",
            "description": "A pagination cursor to retrieve the next set of results for your\noriginal query to the endpoint.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_partial",
            "in": "query",
            "description": "Indicates whether or not to include partial payments in the response. Partial payments will have the tenders collected so far, but the itemizations will be empty until the payment is completed.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/V1Payment"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "PAYMENTS_READ"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "PAYMENTS_READ"
        ],
        "x-sq-version": "2021-03-17"
      }
    },
    "/v1/{location_id}/payments/{payment_id}": {
      "get": {
        "tags": [
          "V1Transactions"
        ],
        "summary": "RetrievePayment",
        "description": "Provides comprehensive information for a single payment.",
        "operationId": "RetrievePayment",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the payment's associated location.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "payment_id",
            "in": "path",
            "description": "The Square-issued payment ID. payment_id comes from Payment objects returned by the List Payments endpoint, Settlement objects returned by the List Settlements endpoint, or Refund objects returned by the List Refunds endpoint.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1Payment"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "PAYMENTS_READ"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "PAYMENTS_READ"
        ],
        "x-sq-version": "2021-03-17"
      }
    },
    "/v1/{location_id}/refunds": {
      "get": {
        "tags": [
          "V1Transactions"
        ],
        "summary": "ListRefunds",
        "description": "Provides the details for all refunds initiated by a merchant or any of the merchant's mobile staff during a date range. Date ranges cannot exceed one year in length.",
        "operationId": "ListRefunds",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the location to list refunds for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "The order in which payments are listed in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "begin_time",
            "in": "query",
            "description": "The beginning of the requested reporting period, in ISO 8601 format. If this value is before January 1, 2013 (2013-01-01T00:00:00Z), this endpoint returns an error. Default value: The current time minus one year.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "The end of the requested reporting period, in ISO 8601 format. If this value is more than one year greater than begin_time, this endpoint returns an error. Default value: The current time.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The approximate number of refunds to return in a single response. Default: 100. Max: 200. Response may contain more results than the prescribed limit when refunds are made simultaneously to multiple tenders in a payment or when refunds are generated in an exchange to account for the value of returned goods.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "batch_token",
            "in": "query",
            "description": "A pagination cursor to retrieve the next set of results for your\noriginal query to the endpoint.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/V1Refund"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "PAYMENTS_READ"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "PAYMENTS_READ"
        ],
        "x-sq-version": "2021-03-17"
      },
      "post": {
        "tags": [
          "V1Transactions"
        ],
        "summary": "CreateRefund",
        "description": "Issues a refund for a previously processed payment. You must issue\na refund within 60 days of the associated payment.\n\nYou cannot issue a partial refund for a split tender payment. You must\ninstead issue a full or partial refund for a particular tender, by\nproviding the applicable tender id to the V1CreateRefund endpoint.\nIssuing a full refund for a split tender payment refunds all tenders\nassociated with the payment.\n\nIssuing a refund for a card payment is not reversible. For development\npurposes, you can create fake cash payments in Square Point of Sale and\nrefund them.",
        "operationId": "CreateRefund",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the original payment's associated location.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/V1CreateRefundRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1Refund"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "PAYMENTS_WRITE"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "PAYMENTS_WRITE"
        ],
        "x-sq-version": "2021-03-17",
        "x-codegen-request-body-name": "body"
      }
    },
    "/v1/{location_id}/settlements": {
      "get": {
        "tags": [
          "V1Transactions"
        ],
        "summary": "ListSettlements",
        "description": "Provides summary information for all deposits and withdrawals\ninitiated by Square to a linked bank account during a date range. Date\nranges cannot exceed one year in length.\n\n*Note**: the ListSettlements endpoint does not provide entry\ninformation.",
        "operationId": "ListSettlements",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the location to list settlements for. If you specify me, this endpoint returns settlements aggregated from all of the business's locations.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "The order in which settlements are listed in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "begin_time",
            "in": "query",
            "description": "The beginning of the requested reporting period, in ISO 8601 format. If this value is before January 1, 2013 (2013-01-01T00:00:00Z), this endpoint returns an error. Default value: The current time minus one year.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "The end of the requested reporting period, in ISO 8601 format. If this value is more than one year greater than begin_time, this endpoint returns an error. Default value: The current time.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of settlements to return in a single response. This value cannot exceed 200.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Provide this parameter to retrieve only settlements with a particular status (SENT or FAILED).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "batch_token",
            "in": "query",
            "description": "A pagination cursor to retrieve the next set of results for your\noriginal query to the endpoint.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/V1Settlement"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "SETTLEMENTS_READ"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "SETTLEMENTS_READ"
        ],
        "x-sq-version": "2021-03-17"
      }
    },
    "/v1/{location_id}/settlements/{settlement_id}": {
      "get": {
        "tags": [
          "V1Transactions"
        ],
        "summary": "RetrieveSettlement",
        "description": "Provides comprehensive information for a single settlement.\n\nThe returned `Settlement` objects include an `entries` field that lists\nthe transactions that contribute to the settlement total. Most\nsettlement entries correspond to a payment payout, but settlement\nentries are also generated for less common events, like refunds, manual\nadjustments, or chargeback holds.\n\nSquare initiates its regular deposits as indicated in the\n[Deposit Options with Square](https://squareup.com/help/us/en/article/3807)\nhelp article. Details for a regular deposit are usually not available\nfrom Connect API endpoints before 10 p.m. PST the same day.\n\nSquare does not know when an initiated settlement **completes**, only\nwhether it has failed. A completed settlement is typically reflected in\na bank account within 3 business days, but in exceptional cases it may\ntake longer.",
        "operationId": "RetrieveSettlement",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The ID of the settlements's associated location.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "settlement_id",
            "in": "path",
            "description": "The settlement's Square-issued ID. You obtain this value from Settlement objects returned by the List Settlements endpoint.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1Settlement"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "SETTLEMENTS_READ"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "SETTLEMENTS_READ"
        ],
        "x-sq-version": "2021-03-17"
      }
    },
    "/v2/apple-pay/domains": {
      "post": {
        "tags": [
          "ApplePay"
        ],
        "summary": "RegisterDomain",
        "description": "Activates a domain for use with Apple Pay on the Web and Square. A validation\nis performed on this domain by Apple to ensure that it is properly set up as\nan Apple Pay enabled domain.\n\nThis endpoint provides an easy way for platform developers to bulk activate\nApple Pay on the Web with Square for merchants using their platform.\n\nTo learn more about Web Apple Pay, see\n[Add the Apple Pay on the Web Button](/docs/payment-form/add-digital-wallets/apple-pay).",
        "operationId": "RegisterDomain",
        "requestBody": {
          "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterDomainRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterDomainResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [],
        "x-sq-version": "2021-03-17",
        "x-codegen-request-body-name": "body"
      }
    },
    "/v2/bank-accounts": {
      "get": {
        "tags": [
          "BankAccounts"
        ],
        "summary": "ListBankAccounts",
        "description": "Returns a list of [BankAccount](#type-bankaccount) objects linked to a Square account.",
        "operationId": "ListBankAccounts",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor returned by a previous call to this endpoint.\nUse it in the next `ListBankAccounts` request to retrieve the next set \nof results.\n\nSee the [Pagination](https://developer.squareup.com/docs/docs/working-with-apis/pagination) guide for more information.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Upper limit on the number of bank accounts to return in the response. \nCurrently, 1000 is the largest supported limit. You can specify a limit \nof up to 1000 bank accounts. This is also the default limit.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "location_id",
            "in": "query",
            "description": "Location ID. You can specify this optional filter \nto retrieve only the linked bank accounts belonging to a specific location.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankAccountsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "BANK_ACCOUNTS_READ"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "BANK_ACCOUNTS_READ"
        ],
        "x-sq-version": "2021-03-17"
      }
    },
    "/v2/bank-accounts/by-v1-id/{v1_bank_account_id}": {
      "get": {
        "tags": [
          "BankAccounts"
        ],
        "summary": "GetBankAccountByV1Id",
        "description": "Returns details of a [BankAccount](#type-bankaccount) identified by V1 bank account ID.",
        "operationId": "GetBankAccountByV1Id",
        "parameters": [
          {
            "name": "v1_bank_account_id",
            "in": "path",
            "description": "Connect V1 ID of the desired `BankAccount`. For more information, see \n[Retrieve a bank account by using an ID issued by V1 Bank Accounts API](https://developer.squareup.com/docs/docs/bank-accounts-api#retrieve-a-bank-account-by-using-an-id-issued-by-v1-bank-accounts-api).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankAccountByV1IdResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "BANK_ACCOUNTS_READ"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "BANK_ACCOUNTS_READ"
        ],
        "x-sq-version": "2021-03-17"
      }
    },
    "/v2/bank-accounts/{bank_account_id}": {
      "get": {
        "tags": [
          "BankAccounts"
        ],
        "summary": "GetBankAccount",
        "description": "Returns details of a [BankAccount](#type-bankaccount) \nlinked to a Square account.",
        "operationId": "GetBankAccount",
        "parameters": [
          {
            "name": "bank_account_id",
            "in": "path",
            "description": "Square-issued ID of the desired `BankAccount`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankAccountResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "BANK_ACCOUNTS_READ"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "BANK_ACCOUNTS_READ"
        ],
        "x-sq-version": "2021-03-17"
      }
    },
    "/v2/bookings": {
      "post": {
        "tags": [
          "Bookings"
        ],
        "summary": "CreateBooking",
        "description": "Creates a booking.",
        "operationId": "CreateBooking",
        "requestBody": {
          "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBookingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBookingResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "APPOINTMENTS_WRITE"
            ]
          }
        ],
        "x-release-status": "BETA",
        "x-is-beta": true,
        "x-oauthpermissions": [
          "APPOINTMENTS_WRITE"
        ],
        "x-sq-version": "2021-03-17",
        "x-codegen-request-body-name": "body"
      }
    },
    "/v2/bookings/availability/search": {
      "post": {
        "tags": [
          "Bookings"
        ],
        "summary": "SearchAvailability",
        "description": "Searches for availabilities for booking.",
        "operationId": "SearchAvailability",
        "requestBody": {
          "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchAvailabilityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchAvailabilityResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "APPOINTMENTS_READ"
            ]
          }
        ],
        "x-release-status": "BETA",
        "x-is-beta": true,
        "x-oauthpermissions": [
          "APPOINTMENTS_READ"
        ],
        "x-sq-version": "2021-03-17",
        "x-codegen-request-body-name": "body"
      }
    },
    "/v2/bookings/business-booking-profile": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "RetrieveBusinessBookingProfile",
        "description": "Retrieves a seller's booking profile.",
        "operationId": "RetrieveBusinessBookingProfile",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveBusinessBookingProfileResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "APPOINTMENTS_BUSINESS_SETTINGS_READ"
            ]
          }
        ],
        "x-release-status": "BETA",
        "x-is-beta": true,
        "x-oauthpermissions": [
          "APPOINTMENTS_BUSINESS_SETTINGS_READ"
        ],
        "x-sq-version": "2021-03-17"
      }
    },
    "/v2/bookings/team-member-booking-profiles": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "ListTeamMemberBookingProfiles",
        "description": "Lists booking profiles for team members.",
        "operationId": "ListTeamMemberBookingProfiles",
        "parameters": [
          {
            "name": "bookable_only",
            "in": "query",
            "description": "Indicates whether to include only bookable team members in the returned result (`true`) or not (`false`).",
            "schema": {
              "type": "boolean",
              "x-is-beta": true
            },
            "x-is-beta": true
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return.",
            "schema": {
              "type": "integer",
              "x-is-beta": true
            },
            "x-is-beta": true
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "The cursor for paginating through the results.",
            "schema": {
              "type": "string",
              "x-is-beta": true
            },
            "x-is-beta": true
          },
          {
            "name": "location_id",
            "in": "query",
            "description": "Indicates whether to include only team members enabled at the given location in the returned result.",
            "schema": {
              "type": "string",
              "x-is-beta": true
            },
            "x-is-beta": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTeamMemberBookingProfilesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "APPOINTMENTS_BUSINESS_SETTINGS_READ"
            ]
          }
        ],
        "x-release-status": "BETA",
        "x-is-beta": true,
        "x-oauthpermissions": [
          "APPOINTMENTS_BUSINESS_SETTINGS_READ"
        ],
        "x-sq-version": "2021-03-17"
      }
    },
    "/v2/bookings/team-member-booking-profiles/{team_member_id}": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "RetrieveTeamMemberBookingProfile",
        "description": "Retrieves a team member's booking profile.",
        "operationId": "RetrieveTeamMemberBookingProfile",
        "parameters": [
          {
            "name": "team_member_id",
            "in": "path",
            "description": "The ID of the team member to retrieve.",
            "required": true,
            "schema": {
              "type": "string",
              "x-is-beta": true
            },
            "x-is-beta": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveTeamMemberBookingProfileResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "APPOINTMENTS_BUSINESS_SETTINGS_READ"
            ]
          }
        ],
        "x-release-status": "BETA",
        "x-is-beta": true,
        "x-oauthpermissions": [
          "APPOINTMENTS_BUSINESS_SETTINGS_READ"
        ],
        "x-sq-version": "2021-03-17"
      }
    },
    "/v2/bookings/{booking_id}": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "RetrieveBooking",
        "description": "Retrieves a booking.",
        "operationId": "RetrieveBooking",
        "parameters": [
          {
            "name": "booking_id",
            "in": "path",
            "description": "The ID of the `Booking` object representing the to-be-retrieved booking.",
            "required": true,
            "schema": {
              "type": "string",
              "x-is-beta": true
            },
            "x-is-beta": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveBookingResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "APPOINTMENTS_READ"
            ]
          }
        ],
        "x-release-status": "BETA",
        "x-is-beta": true,
        "x-oauthpermissions": [
          "APPOINTMENTS_READ"
        ],
        "x-sq-version": "2021-03-17"
      },
      "put": {
        "tags": [
          "Bookings"
        ],
        "summary": "UpdateBooking",
        "description": "Updates a booking.",
        "operationId": "UpdateBooking",
        "parameters": [
          {
            "name": "booking_id",
            "in": "path",
            "description": "The ID of the `Booking` object representing the to-be-updated booking.",
            "required": true,
            "schema": {
              "type": "string",
              "x-is-beta": true
            },
            "x-is-beta": true
          }
        ],
        "requestBody": {
          "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBookingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBookingResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "APPOINTMENTS_WRITE"
            ]
          }
        ],
        "x-release-status": "BETA",
        "x-is-beta": true,
        "x-oauthpermissions": [
          "APPOINTMENTS_WRITE"
        ],
        "x-sq-version": "2021-03-17",
        "x-codegen-request-body-name": "body"
      }
    },
    "/v2/bookings/{booking_id}/cancel": {
      "post": {
        "tags": [
          "Bookings"
        ],
        "summary": "CancelBooking",
        "description": "Cancels an existing booking.",
        "operationId": "CancelBooking",
        "parameters": [
          {
            "name": "booking_id",
            "in": "path",
            "description": "The ID of the `Booking` object representing the to-be-cancelled booking.",
            "required": true,
            "schema": {
              "type": "string",
              "x-is-beta": true
            },
            "x-is-beta": true
          }
        ],
        "requestBody": {
          "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelBookingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelBookingResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "APPOINTMENTS_WRITE"
            ]
          }
        ],
        "x-release-status": "BETA",
        "x-is-beta": true,
        "x-oauthpermissions": [
          "APPOINTMENTS_WRITE"
        ],
        "x-sq-version": "2021-03-17",
        "x-codegen-request-body-name": "body"
      }
    },
    "/v2/cash-drawers/shifts": {
      "get": {
        "tags": [
          "CashDrawers"
        ],
        "summary": "ListCashDrawerShifts",
        "description": "Provides the details for all of the cash drawer shifts for a location\nin a date range.",
        "operationId": "ListCashDrawerShifts",
        "parameters": [
          {
            "name": "location_id",
            "in": "query",
            "description": "The ID of the location to query for a list of cash drawer shifts.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "The order in which cash drawer shifts are listed in the response,\nbased on their opened_at field. Default value: ASC",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "begin_time",
            "in": "query",
            "description": "The inclusive start time of the query on opened_at, in ISO 8601 format.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "The exclusive end date of the query on opened_at, in ISO 8601 format.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of cash drawer shift events in a page of results (200 by\ndefault, 1000 max).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor for fetching the next page of results.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCashDrawerShiftsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "CASH_DRAWER_READ"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "CASH_DRAWER_READ"
        ],
        "x-sq-version": "2021-03-17"
      }
    },
    "/v2/cash-drawers/shifts/{shift_id}": {
      "get": {
        "tags": [
          "CashDrawers"
        ],
        "summary": "RetrieveCashDrawerShift",
        "description": "Provides the summary details for a single cash drawer shift. See\n[ListCashDrawerShiftEvents](#endpoint-CashDrawers-ListCashDrawerShiftEvents) for a list of cash drawer shift events.",
        "operationId": "RetrieveCashDrawerShift",
        "parameters": [
          {
            "name": "location_id",
            "in": "query",
            "description": "The ID of the location to retrieve cash drawer shifts from.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shift_id",
            "in": "path",
            "description": "The shift ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveCashDrawerShiftResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "CASH_DRAWER_READ"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "CASH_DRAWER_READ"
        ],
        "x-sq-version": "2021-03-17"
      }
    },
    "/v2/cash-drawers/shifts/{shift_id}/events": {
      "get": {
        "tags": [
          "CashDrawers"
        ],
        "summary": "ListCashDrawerShiftEvents",
        "description": "Provides a paginated list of events for a single cash drawer shift.",
        "operationId": "ListCashDrawerShiftEvents",
        "parameters": [
          {
            "name": "location_id",
            "in": "query",
            "description": "The ID of the location to list cash drawer shifts for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shift_id",
            "in": "path",
            "description": "The shift ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of resources to be returned in a page of results (200 by\ndefault, 1000 max).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor for fetching the next page of results.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCashDrawerShiftEventsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "CASH_DRAWER_READ"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "CASH_DRAWER_READ"
        ],
        "x-sq-version": "2021-03-17"
      }
    },
    "/v2/catalog/batch-delete": {
      "post": {
        "tags": [
          "Catalog"
        ],
        "summary": "BatchDeleteCatalogObjects",
        "description": "Deletes a set of [CatalogItem](#type-catalogitem)s based on the\nprovided list of target IDs and returns a set of successfully deleted IDs in\nthe response. Deletion is a cascading event such that all children of the\ntargeted object are also deleted. For example, deleting a CatalogItem will\nalso delete all of its [CatalogItemVariation](#type-catalogitemvariation)\nchildren.\n\n`BatchDeleteCatalogObjects` succeeds even if only a portion of the targeted\nIDs can be deleted. The response will only include IDs that were\nactually deleted.",
        "operationId": "BatchDeleteCatalogObjects",
        "requestBody": {
          "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchDeleteCatalogObjectsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchDeleteCatalogObjectsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "ITEMS_WRITE"
        ],
        "x-sq-version": "2021-03-17",
        "x-codegen-request-body-name": "body"
      }
    },
    "/v2/catalog/batch-retrieve": {
      "post": {
        "tags": [
          "Catalog"
        ],
        "summary": "BatchRetrieveCatalogObjects",
        "description": "Returns a set of objects based on the provided ID.\nEach [CatalogItem](#type-catalogitem) returned in the set includes all of its\nchild information including: all of its\n[CatalogItemVariation](#type-catalogitemvariation) objects, references to\nits [CatalogModifierList](#type-catalogmodifierlist) objects, and the ids of\nany [CatalogTax](#type-catalogtax) objects that apply to it.",
        "operationId": "BatchRetrieveCatalogObjects",
        "requestBody": {
          "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchRetrieveCatalogObjectsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchRetrieveCatalogObjectsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ITEMS_READ"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "ITEMS_READ"
        ],
        "x-sq-version": "2021-03-17",
        "x-codegen-request-body-name": "body"
      }
    },
    "/v2/catalog/batch-upsert": {
      "post": {
        "tags": [
          "Catalog"
        ],
        "summary": "BatchUpsertCatalogObjects",
        "description": "Creates or updates up to 10,000 target objects based on the provided\nlist of objects. The target objects are grouped into batches and each batch is\ninserted/updated in an all-or-nothing manner. If an object within a batch is\nmalformed in some way, or violates a database constraint, the entire batch\ncontaining that item will be disregarded. However, other batches in the same\nrequest may still succeed. Each batch may contain up to 1,000 objects, and\nbatches will be processed in order as long as the total object count for the\nrequest (items, variations, modifier lists, discounts, and taxes) is no more\nthan 10,000.",
        "operationId": "BatchUpsertCatalogObjects",
        "requestBody": {
          "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchUpsertCatalogObjectsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchUpsertCatalogObjectsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "ITEMS_WRITE"
        ],
        "x-sq-version": "2021-03-17",
        "x-codegen-request-body-name": "body"
      }
    },
    "/v2/catalog/info": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "CatalogInfo",
        "description": "Retrieves information about the Square Catalog API, such as batch size\nlimits that can be used by the `BatchUpsertCatalogObjects` endpoint.",
        "operationId": "CatalogInfo",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogInfoResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ITEMS_READ"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "ITEMS_READ"
        ],
        "x-sq-version": "2021-03-17"
      }
    },
    "/v2/catalog/list": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "ListCatalog",
        "description": "Returns a list of [CatalogObject](#type-catalogobject)s that includes\nall objects of a set of desired types (for example, all [CatalogItem](#type-catalogitem)\nand [CatalogTax](#type-catalogtax) objects) in the catalog. The `types` parameter\nis specified as a comma-separated list of valid [CatalogObject](#type-catalogobject) types:\n`ITEM`, `ITEM_VARIATION`, `MODIFIER`, `MODIFIER_LIST`, `CATEGORY`, `DISCOUNT`, `TAX`, `IMAGE`.\n\n__Important:__ ListCatalog does not return deleted catalog items. To retrieve\ndeleted catalog items, use [SearchCatalogObjects](#endpoint-Catalog-SearchCatalogObjects)\nand set the `include_deleted_objects` attribute value to `true`.",
        "operationId": "ListCatalog",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor returned in the previous response. Leave unset for an initial request.\nSee [Pagination](https://developer.squareup.com/docs/basics/api101/pagination) for more information.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "types",
            "in": "query",
            "description": "An optional case-insensitive, comma-separated list of object types to retrieve, for example\n`ITEM,ITEM_VARIATION,CATEGORY,IMAGE`.\n\nThe legal values are taken from the CatalogObjectType enum:\n`ITEM`, `ITEM_VARIATION`, `CATEGORY`, `DISCOUNT`, `TAX`,\n`MODIFIER`, `MODIFIER_LIST`, or `IMAGE`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "catalog_version",
            "in": "query",
            "description": "The specific version of the catalog objects to be included in the response. \nThis allows you to retrieve historical\nversions of objects. The specified version value is matched against\nthe `CatalogObject`s' `version` attribute.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-is-beta": true
            },
            "x-is-beta": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCatalogResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ITEMS_READ"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "ITEMS_READ"
        ],
        "x-sq-version": "2021-03-17"
      }
    },
    "/v2/catalog/object": {
      "post": {
        "tags": [
          "Catalog"
        ],
        "summary": "UpsertCatalogObject",
        "description": "Creates or updates the target [CatalogObject](#type-catalogobject).",
        "operationId": "UpsertCatalogObject",
        "requestBody": {
          "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertCatalogObjectRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpsertCatalogObjectResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "ITEMS_WRITE"
        ],
        "x-sq-version": "2021-03-17",
        "x-codegen-request-body-name": "body"
      }
    },
    "/v2/catalog/object/{object_id}": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "RetrieveCatalogObject",
        "description": "Returns a single [CatalogItem](#type-catalogitem) as a\n[CatalogObject](#type-catalogobject) based on the provided ID. The returned\nobject includes all of the relevant [CatalogItem](#type-catalogitem)\ninformation including: [CatalogItemVariation](#type-catalogitemvariation)\nchildren, references to its\n[CatalogModifierList](#type-catalogmodifierlist) objects, and the ids of\nany [CatalogTax](#type-catalogtax) objects that apply to it.",
        "operationId": "RetrieveCatalogObject",
        "parameters": [
          {
            "name": "object_id",
            "in": "path",
            "description": "The object ID of any type of catalog objects to be retrieved.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_related_objects",
            "in": "query",
            "description": "If `true`, the response will include additional objects that are related to the\nrequested object, as follows:\n\nIf the `object` field of the response contains a `CatalogItem`, its associated\n`CatalogCategory`, `CatalogTax`, `CatalogImage` and `CatalogModifierList` objects will\nbe returned in the `related_objects` field of the response. If the `object` field of\nthe response contains a `CatalogItemVariation`, its parent `CatalogItem` will be returned\nin the `related_objects` field of the response.\n\nDefault value: `false`",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "catalog_version",
            "in": "query",
            "description": "Requests objects as of a specific version of the catalog. This allows you to retrieve historical\nversions of objects. The value to retrieve a specific version of an object can be found\nin the version field of `CatalogObject`s.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "x-is-beta": true
            },
            "x-is-beta": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveCatalogObjectResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ITEMS_READ"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "ITEMS_READ"
        ],
        "x-sq-version": "2021-03-17"
      },
      "delete": {
        "tags": [
          "Catalog"
        ],
        "summary": "DeleteCatalogObject",
        "description": "Deletes a single [CatalogObject](#type-catalogobject) based on the\nprovided ID and returns the set of successfully deleted IDs in the response.\nDeletion is a cascading event such that all children of the targeted object\nare also deleted. For example, deleting a [CatalogItem](#type-catalogitem)\nwill also delete all of its\n[CatalogItemVariation](#type-catalogitemvariation) children.",
        "operationId": "DeleteCatalogObject",
        "parameters": [
          {
            "name": "object_id",
            "in": "path",
            "description": "The ID of the catalog object to be deleted. When an object is deleted, other\nobjects in the graph that depend on that object will be deleted as well (for example, deleting a\ncatalog item will delete its catalog item variations).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteCatalogObjectResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "ITEMS_WRITE"
        ],
        "x-sq-version": "2021-03-17"
      }
    },
    "/v2/catalog/search": {
      "post": {
        "tags": [
          "Catalog"
        ],
        "summary": "SearchCatalogObjects",
        "description": "Searches for [CatalogObject](#type-CatalogObject) of any type by matching supported search attribute values,\nexcluding custom attribute values on items or item variations, against one or more of the specified query expressions.\n\nThis (`SearchCatalogObjects`) endpoint differs from the [SearchCatalogItems](#endpoint-Catalog-SearchCatalogItems)\nendpoint in the following aspects:\n\n- `SearchCatalogItems` can only search for items or item variations, whereas `SearchCatalogObjects` can search for any type of catalog objects.\n- `SearchCatalogItems` supports the custom attribute query filters to return items or item variations that contain custom attribute values, where `SearchCatalogObjects` does not.\n- `SearchCatalogItems` does not support the `include_deleted_objects` filter to search for deleted items or item variations, whereas `SearchCatalogObjects` does.\n- The both endpoints have different call conventions, including the query filter formats.",
        "operationId": "SearchCatalogObjects",
        "requestBody": {
          "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchCatalogObjectsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchCatalogObjectsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ITEMS_READ"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "ITEMS_READ"
        ],
        "x-sq-version": "2021-03-17",
        "x-codegen-request-body-name": "body"
      }
    },
    "/v2/catalog/search-catalog-items": {
      "post": {
        "tags": [
          "Catalog"
        ],
        "summary": "SearchCatalogItems",
        "description": "Searches for catalog items or item variations by matching supported search attribute values, including\ncustom attribute values, against one or more of the specified query expressions.\n\nThis (`SearchCatalogItems`) endpoint differs from the [SearchCatalogObjects](#endpoint-Catalog-SearchCatalogObjects)\nendpoint in the following aspects:\n\n- `SearchCatalogItems` can only search for items or item variations, whereas `SearchCatalogObjects` can search for any type of catalog objects.\n- `SearchCatalogItems` supports the custom attribute query filters to return items or item variations that contain custom attribute values, where `SearchCatalogObjects` does not.\n- `SearchCatalogItems` does not support the `include_deleted_objects` filter to search for deleted items or item variations, whereas `SearchCatalogObjects` does.\n- The both endpoints use different call conventions, including the query filter formats.",
        "operationId": "SearchCatalogItems",
        "requestBody": {
          "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchCatalogItemsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchCatalogItemsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ITEMS_READ"
            ]
          }
        ],
        "x-release-status": "BETA",
        "x-is-beta": true,
        "x-oauthpermissions": [
          "ITEMS_READ"
        ],
        "x-sq-version": "2021-03-17",
        "x-codegen-request-body-name": "body"
      }
    },
    "/v2/catalog/update-item-modifier-lists": {
      "post": {
        "tags": [
          "Catalog"
        ],
        "summary": "UpdateItemModifierLists",
        "description": "Updates the [CatalogModifierList](#type-catalogmodifierlist) objects\nthat apply to the targeted [CatalogItem](#type-catalogitem) without having\nto perform an upsert on the entire item.",
        "operationId": "UpdateItemModifierLists",
        "requestBody": {
          "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateItemModifierListsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateItemModifierListsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "ITEMS_WRITE"
        ],
        "x-sq-version": "2021-03-17",
        "x-codegen-request-body-name": "body"
      }
    },
    "/v2/catalog/update-item-taxes": {
      "post": {
        "tags": [
          "Catalog"
        ],
        "summary": "UpdateItemTaxes",
        "description": "Updates the [CatalogTax](#type-catalogtax) objects that apply to the\ntargeted [CatalogItem](#type-catalogitem) without having to perform an\nupsert on the entire item.",
        "operationId": "UpdateItemTaxes",
        "requestBody": {
          "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateItemTaxesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateItemTaxesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ITEMS_WRITE"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "ITEMS_WRITE"
        ],
        "x-sq-version": "2021-03-17",
        "x-codegen-request-body-name": "body"
      }
    },
    "/v2/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "ListCustomers",
        "description": "Lists customer profiles associated with a Square account.\n\nUnder normal operating conditions, newly created or updated customer profiles become available\nfor the listing operation in well under 30 seconds. Occasionally, propagation of the new or updated\nprofiles can take closer to one minute or longer, especially during network incidents and outages.",
        "operationId": "ListCustomers",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "A pagination cursor returned by a previous call to this endpoint.\nProvide this to retrieve the next set of results for your original query.\n\nSee the [Pagination guide](https://developer.squareup.com/docs/working-with-apis/pagination) for more information.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_field",
            "in": "query",
            "description": "Indicates how Customers should be sorted.\n\nDefault: `DEFAULT`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Indicates whether Customers should be sorted in ascending (`ASC`) or\ndescending (`DESC`) order.\n\nDefault: `ASC`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomersResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "CUSTOMERS_READ"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "CUSTOMERS_READ"
        ],
        "x-sq-version": "2021-03-17"
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "CreateCustomer",
        "description": "Creates a new customer for a business, which can have associated cards on file.\n\nYou must provide __at least one__ of the following values in your request to this\nendpoint:\n\n- `given_name`\n- `family_name`\n- `company_name`\n- `email_address`\n- `phone_number`",
        "operationId": "CreateCustomer",
        "requestBody": {
          "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "CUSTOMERS_WRITE"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "CUSTOMERS_WRITE"
        ],
        "x-sq-version": "2021-03-17",
        "x-codegen-request-body-name": "body"
      }
    },
    "/v2/customers/groups": {
      "get": {
        "tags": [
          "CustomerGroups"
        ],
        "summary": "ListCustomerGroups",
        "description": "Retrieves the list of customer groups of a business.",
        "operationId": "ListCustomerGroups",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "A pagination cursor returned by a previous call to this endpoint.\nProvide this to retrieve the next set of results for your original query.\n\nSee the [Pagination guide](https://developer.squareup.com/docs/working-with-apis/pagination) for more information.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomerGroupsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "CUSTOMERS_READ"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "CUSTOMERS_READ"
        ],
        "x-sq-version": "2021-03-17"
      },
      "post": {
        "tags": [
          "CustomerGroups"
        ],
        "summary": "CreateCustomerGroup",
        "description": "Creates a new customer group for a business. \n\nThe request must include the `name` value of the group.",
        "operationId": "CreateCustomerGroup",
        "requestBody": {
          "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerGroupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerGroupResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "CUSTOMERS_WRITE"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "CUSTOMERS_WRITE"
        ],
        "x-sq-version": "2021-03-17",
        "x-codegen-request-body-name": "body"
      }
    },
    "/v2/customers/groups/{group_id}": {
      "get": {
        "tags": [
          "CustomerGroups"
        ],
        "summary": "RetrieveCustomerGroup",
        "description": "Retrieves a specific customer group as identified by the `group_id` value.",
        "operationId": "RetrieveCustomerGroup",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "The ID of the customer group to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveCustomerGroupResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "CUSTOMERS_READ"
            ]
          }
        ],
        "x-release-status": "PUBLIC",
        "x-oauthpermissions": [
          "CUSTOMERS_READ"
        ],
        "x-sq-version": "2021-03-17"
      },
      "put": {
        "tags": [
          "CustomerGroups"
        ],
        "summary": "UpdateCustomerGroup",
        "description": "Updates a customer group as identified by the `group_id` value.",
        "operationId": "UpdateCustomerGroup",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "The ID of the customer group to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "An object containing the fields to POST for the request.\n\nSee the corresponding object definition for field details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerGroupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCustomerGroupResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
[...]
