{"openapi": "3.0.1", "info": {"title": "Slack Web API", "description": "One way to interact with the Slack platform is its HTTP RPC-based Web API, a collection of methods requiring OAuth 2.0-based user, bot, or workspace tokens blessed with related OAuth scopes.", "contact": {"name": "Slack developer relations", "url": "https://api.slack.com/support"}, "version": "1.7.0"}, "externalDocs": {"description": "Learn more about the Slack Web API", "url": "https://api.slack.com/web"}, "servers": [{"url": "https://slack.com/api"}], "tags": [], "paths": {"/api.test": {"get": {"tags": ["api"], "description": "Checks API calling code.", "externalDocs": {"description": "API method documentation", "url": "https://api.slack.com/methods/api.test"}, "operationId": "api_test", "parameters": [{"name": "error", "in": "query", "description": "Error response to return", "schema": {"type": "string"}}, {"name": "foo", "in": "query", "description": "example property to return", "schema": {"type": "string"}}], "responses": {"200": {"description": "Standard success response", "content": {"application/json": {"schema": {"title": "api.test success schema", "required": ["ok"], "type": "object", "properties": {"ok": {"$ref": "#/components/schemas/defs_ok_true"}}, "description": "Schema for successful response api.test method"}, "example": {"ok": true}}}}, "default": {"description": "Artificial error response", "content": {"application/json": {"schema": {"title": "api.test error schema", "required": ["error", "ok"], "type": "object", "properties": {"error": {"type": "string"}, "ok": {"$ref": "#/components/schemas/defs_ok_false"}}, "description": "Schema for error response api.test method"}, "example": {"args": {"error": "my_error"}, "error": "my_error", "ok": false}}}}}, "security": [{"slackAuth": ["none"]}]}}, "/bots.info": {"get": {"tags": ["bots"], "description": "Gets information about a bot user.", "externalDocs": {"description": "API method documentation", "url": "https://api.slack.com/methods/bots.info"}, "operationId": "bots_info", "parameters": [{"name": "token", "in": "query", "description": "Authentication token. Requires scope: `users:read`", "required": true, "schema": {"type": "string"}}, {"name": "bot", "in": "query", "description": "Bot user to get info on", "schema": {"type": "string"}}], "responses": {"200": {"description": "When successful, returns bot info by bot ID.", "content": {"application/json": {"schema": {"title": "bots.info schema", "required": ["bot", "ok"], "type": "object", "properties": {"bot": {"required": ["app_id", "deleted", "icons", "id", "name", "updated"], "type": "object", "properties": {"app_id": {"$ref": "#/components/schemas/defs_app_id"}, "deleted": {"type": "boolean"}, "icons": {"required": ["image_36", "image_48", "image_72"], "type": "object", "properties": {"image_36": {"type": "string"}, "image_48": {"type": "string"}, "image_72": {"type": "string"}}}, "id": {"$ref": "#/components/schemas/defs_bot_id"}, "name": {"type": "string"}, "updated": {"type": "integer"}, "user_id": {"$ref": "#/components/schemas/defs_user_id"}}}, "ok": {"$ref": "#/components/schemas/defs_ok_true"}}, "description": "Schema for successful response from bots.info method"}, "example": {"bot": {"app_id": "A161CLERW", "deleted": false, "icons": {"image_36": "https://...", "image_48": "https://...", "image_72": "https://..."}, "id": "B061F7JD2", "name": "beforebot", "updated": 1449272004, "user_id": "U012ABCDEF"}, "ok": true}}}}, "default": {"description": "When no bot can be found, it returns an error.", "content": {"application/json": {"schema": {"title": "bots.info error schema", "required": ["error", "ok"], "type": "object", "properties": {"callstack": {"type": "string", "description": "Note: PHP callstack is only visible in dev/qa"}, "error": {"type": "string", "enum": ["bot_not_found", "not_authed", "invalid_auth", "account_inactive", "token_revoked", "no_permission", "org_login_required", "invalid_arg_name", "invalid_array_arg", "invalid_charset", "invalid_form_data", "invalid_post_type", "missing_post_type", "team_added_to_org", "invalid_json", "json_not_object", "request_timeout", "upgrade_required", "fatal_error"]}, "ok": {"$ref": "#/components/schemas/defs_ok_false"}}, "description": "Schema for error response from bots.info method"}, "example": {"error": "bot_not_found", "ok": false}}}}}, "security": [{"slackAuth": ["users:read"]}]}}, "/chat.delete": {"post": {"tags": ["chat"], "description": "Deletes a message.", "externalDocs": {"description": "API method documentation", "url": "https://api.slack.com/methods/chat.delete"}, "operationId": "chat_delete", "parameters": [{"name": "token", "in": "header", "description": "Authentication token. Requires scope: `chat:write`", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/x-www-form-urlencoded": {"schema": {"required": ["channel", "ts"], "properties": {"ts": {"type": "number", "description": "Timestamp of the message to be deleted."}, "channel": {"type": "string", "description": "Channel containing the message to be deleted."}, "as_user": {"type": "boolean", "description": "Pass true to delete the message as the authed user with `chat:write:user` scope. [Bot users](/bot-users) in this context are considered authed users. If unused or false, the message will be deleted with `chat:write:bot` scope."}}}}, "application/json": {"schema": {"required": ["channel", "ts"], "properties": {"ts": {"type": "number", "description": "Timestamp of the message to be deleted."}, "channel": {"type": "string", "description": "Channel containing the message to be deleted."}, "as_user": {"type": "boolean", "description": "Pass true to delete the message as the authed user with `chat:write:user` scope. [Bot users](/bot-users) in this context are considered authed users. If unused or false, the message will be deleted with `chat:write:bot` scope."}}}}}, "required": true}, "responses": {"200": {"description": "Typical success response", "content": {"application/json": {"schema": {"title": "chat.delete success schema", "required": ["channel", "ok", "ts"], "type": "object", "properties": {"channel": {"$ref": "#/components/schemas/defs_channel"}, "ok": {"$ref": "#/components/schemas/defs_ok_true"}, "ts": {"$ref": "#/components/schemas/defs_ts"}}, "description": "Schema for successful response of chat.delete method"}, "example": {"channel": "C024BE91L", "ok": true, "ts": "1401383885.000061"}}}}, "default": {"description": "Typical error response", "content": {"application/json": {"schema": {"title": "chat.delete error schema", "required": ["error", "ok"], "type": "object", "properties": {"callstack": {"type": "string", "description": "Note: PHP callstack is only visible in dev/qa"}, "error": {"type": "string", "enum": ["message_not_found", "channel_not_found", "cant_delete_message", "compliance_exports_prevent_deletion", "not_authed", "invalid_auth", "account_inactive", "token_revoked", "no_permission", "invalid_arg_name", "invalid_array_arg", "invalid_charset", "invalid_form_data", "invalid_post_type", "missing_post_type", "team_added_to_org", "invalid_json", "json_not_object", "request_timeout", "upgrade_required", "fatal_error"]}, "ok": {"$ref": "#/components/schemas/defs_ok_false"}}, "description": "Schema for error response from chat.delete method"}, "example": {"error": "message_not_found", "ok": false}}}}}, "security": [{"slackAuth": ["chat:write:user", "chat:write:bot"]}]}}, "/chat.deleteScheduledMessage": {"post": {"tags": ["chat"], "description": "Deletes a pending scheduled message from the queue.", "externalDocs": {"description": "API method documentation", "url": "https://api.slack.com/methods/chat.deleteScheduledMessage"}, "operationId": "chat_deleteScheduledMessage", "parameters": [{"name": "token", "in": "header", "description": "Authentication token. Requires scope: `chat:write`", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/x-www-form-urlencoded": {"schema": {"required": ["channel", "scheduled_message_id"], "properties": {"as_user": {"type": "boolean", "description": "Pass true to delete the message as the authed user with `chat:write:user` scope. [Bot users](/bot-users) in this context are considered authed users. If unused or false, the message will be deleted with `chat:write:bot` scope."}, "channel": {"type": "string", "description": "The channel the scheduled_message is posting to"}, "scheduled_message_id": {"type": "string", "description": "`scheduled_message_id` returned from call to chat.scheduleMessage"}}}}, "application/json": {"schema": {"required": ["channel", "scheduled_message_id"], "properties": {"as_user": {"type": "boolean", "description": "Pass true to delete the message as the authed user with `chat:write:user` scope. [Bot users](/bot-users) in this context are considered authed users. If unused or false, the message will be deleted with `chat:write:bot` scope."}, "channel": {"type": "string", "description": "The channel the scheduled_message is posting to"}, "scheduled_message_id": {"type": "string", "description": "`scheduled_message_id` returned from call to chat.scheduleMessage"}}}}}, "required": true}, "responses": {"200": {"description": "Typical success response", "content": {"application/json": {"schema": {"title": "chat.deleteScheduledMessage schema", "required": ["ok"], "type": "object", "properties": {"ok": {"$ref": "#/components/schemas/defs_ok_true"}}, "description": "Schema for successful response from chat.deleteScheduledMessage method"}, "example": {"ok": true}}}}, "default": {"description": "Typical error response if no message is found", "content": {"application/json": {"schema": {"title": "chat.deleteScheduledMessage error schema", "required": ["error", "ok"], "type": "object", "properties": {"callstack": {"type": "string", "description": "Note: PHP callstack is only visible in dev/qa"}, "error": {"type": "string", "enum": ["invalid_scheduled_message_id", "channel_not_found", "bad_token", "not_authed", "invalid_auth", "account_inactive", "token_revoked", "no_permission", "org_login_required", "ekm_access_denied", "missing_scope", "invalid_arguments", "invalid_arg_name", "invalid_charset", "invalid_form_data", "invalid_post_type", "missing_post_type", "team_added_to_org", "invalid_json", "json_not_object", "request_timeout", "upgrade_required", "fatal_error"]}, "ok": {"$ref": "#/components/schemas/defs_ok_false"}}, "description": "Schema for error response from chat.deleteScheduledMessage method"}, "example": {"error": "invalid_scheduled_message_id", "ok": false}}}}}, "security": [{"slackAuth": ["chat:write:user", "chat:write:bot"]}]}}, "/chat.getPermalink": {"get": {"tags": ["chat"], "description": "Retrieve a permalink URL for a specific extant message", "externalDocs": {"description": "API method documentation", "url": "https://api.slack.com/methods/chat.getPermalink"}, "operationId": "chat_getPermalink", "parameters": [{"name": "token", "in": "query", "description": "Authentication token. Requires scope: `none`", "required": true, "schema": {"type": "string"}}, {"name": "channel", "in": "query", "description": "The ID of the conversation or channel containing the message", "required": true, "schema": {"type": "string"}}, {"name": "message_ts", "in": "query", "description": "A message's `ts` value, uniquely identifying it within a channel", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "Standard success response", "content": {"application/json": {"schema": {"title": "chat.getPermalink success schema", "required": ["channel", "ok", "permalink"], "type": "object", "properties": {"channel": {"$ref": "#/components/schemas/defs_channel"}, "ok": {"$ref": "#/components/schemas/defs_ok_true"}, "permalink": {"type": "string"}}, "description": "Schema for successful response chat.getPermalink"}, "example": {"channel": "C1H9RESGA", "ok": true, "permalink": "https://ghostbusters.slack.com/archives/C1H9RESGA/p135854651500008"}}}}, "default": {"description": "Error response when channel cannot be found", "content": {"application/json": {"schema": {"title": "chat.getPermalink error schema", "required": ["error", "ok"], "type": "object", "properties": {"callstack": {"type": "string", "description": "Note: PHP callstack is only visible in dev/qa"}, "error": {"type": "string", "enum": ["channel_not_found", "message_not_found", "not_authed", "invalid_auth", "account_inactive", "token_revoked", "no_permission", "org_login_required", "invalid_arg_name", "invalid_array_arg", "invalid_charset", "invalid_form_data", "invalid_post_type", "missing_post_type", "team_added_to_org", "invalid_json", "json_not_object", "request_timeout", "upgrade_required", "fatal_error"]}, "ok": {"$ref": "#/components/schemas/defs_ok_false"}}, "description": "Schema for error response from chat.getPermalink method"}, "example": {"error": "channel_not_found", "ok": false}}}}}, "security": [{"slackAuth": ["none"]}]}}, "/chat.meMessage": {"post": {"tags": ["chat"], "description": "Share a me message into a channel.", "externalDocs": {"description": "API method documentation", "url": "https://api.slack.com/methods/chat.meMessage"}, "operationId": "chat_meMessage", "parameters": [{"name": "token", "in": "header", "description": "Authentication token. Requires scope: `chat:write`", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/x-www-form-urlencoded": {"schema": {"required": ["channel", "text"], "properties": {"channel": {"type": "string", "description": "Channel to send message to. Can be a public channel, private group or IM channel. Can be an encoded ID, or a name."}, "text": {"type": "string", "description": "Text of the message to send."}}}}, "application/json": {"schema": {"required": ["channel", "text"], "properties": {"channel": {"type": "string", "description": "Channel to send message to. Can be a public channel, private group or IM channel. Can be an encoded ID, or a name."}, "text": {"type": "string", "description": "Text of the message to send."}}}}}, "required": true}, "responses": {"200": {"description": "Typical success response", "content": {"application/json": {"schema": {"title": "chat.meMessage schema", "required": ["ok"], "type": "object", "properties": {"channel": {"$ref": "#/components/schemas/defs_channel"}, "ok": {"$ref": "#/components/schemas/defs_ok_true"}, "ts": {"$ref": "#/components/schemas/defs_ts"}}, "description": "Schema for successful response from chat.meMessage method"}, "example": {"channel": "C024BE7LR", "ok": true, "ts": "1417671948.000006"}}}}, "default": {"description": "Typical error response", "content": {"application/json": {"schema": {"title": "chat.meMessage error schema", "required": ["error", "ok"], "type": "object", "properties": {"callstack": {"type": "string", "description": "Note: PHP callstack is only visible in dev/qa"}, "error": {"type": "string", "enum": ["channel_not_found", "not_in_channel", "is_archived", "msg_too_long", "no_text", "rate_limited", "not_authed", "invalid_auth", "account_inactive", "token_revoked", "no_permission", "org_login_required", "invalid_arg_name", "invalid_array_arg", "invalid_charset", "invalid_form_data", "invalid_post_type", "missing_post_type", "team_added_to_org", "invalid_json", "json_not_object", "request_timeout", "upgrade_required", "fatal_error"]}, "ok": {"$ref": "#/components/schemas/defs_ok_false"}}, "description": "Schema for error response from chat.meMessage method"}, "example": {"error": "invalid_auth", "ok": false}}}}}, "security": [{"slackAuth": ["chat:write:user", "chat:write:bot"]}]}}, "/chat.postEphemeral": {"post": {"tags": ["chat"], "description": "Sends an ephemeral message to a user in a channel.", "externalDocs": {"description": "API method documentation", "url": "https://api.slack.com/methods/chat.postEphemeral"}, "operationId": "chat_postEphemeral", "parameters": [{"name": "token", "in": "header", "description": "Authentication token. Requires scope: `chat:write`", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/x-www-form-urlencoded": {"schema": {"required": ["attachments", "channel", "text", "user"], "properties": {"as_user": {"type": "boolean", "description": "Pass true to post the message as the authed user. Defaults to true if the chat:write:bot scope is not included. Otherwise, defaults to false."}, "attachments": {"type": "string", "description": "A JSON-based array of structured attachments, presented as a URL-encoded string."}, "blocks": {"type": "string", "description": "A JSON-based array of structured blocks, presented as a URL-encoded string."}, "channel": {"type": "string", "description": "Channel, private group, or IM channel to send message to. Can be an encoded ID, or a name."}, "icon_emoji": {"type": "string", "description": "Emoji to use as the icon for this message. Overrides `icon_url`. Must be used in conjunction with `as_user` set to `false`, otherwise ignored. See [authorship](#authorship) below."}, "icon_url": {"type": "string", "description": "URL to an image to use as the icon for this message. Must be used in conjunction with `as_user` set to false, otherwise ignored. See [authorship](#authorship) below."}, "link_names": {"type": "boolean", "description": "Find and link channel names and usernames."}, "parse": {"type": "string", "description": "Change how messages are treated. Defaults to `none`. See [below](#formatting)."}, "text": {"type": "string", "description": "How this field works and whether it is required depends on other fields you use in your API call. [See below](#text_usage) for more detail."}, "thread_ts": {"type": "string", "description": "Provide another message's `ts` value to post this message in a thread. Avoid using a reply's `ts` value; use its parent's value instead. Ephemeral messages in threads are only shown if there is already an active thread."}, "user": {"type": "string", "description": "`id` of the user who will receive the ephemeral message. The user should be in the channel specified by the `channel` argument."}, "username": {"type": "string", "description": "Set your bot's user name. Must be used in conjunction with `as_user` set to false, otherwise ignored. See [authorship](#authorship) below."}}}}, "application/json": {"schema": {"required": ["attachments", "channel", "text", "user"], "properties": {"as_user": {"type": "boolean", "description": "Pass true to post the message as the authed user. Defaults to true if the chat:write:bot scope is not included. Otherwise, defaults to false."}, "attachments": {"type": "string", "description": "A JSON-based array of structured attachments, presented as a URL-encoded string."}, "blocks": {"type": "string", "description": "A JSON-based array of structured blocks, presented as a URL-encoded string."}, "channel": {"type": "string", "description": "Channel, private group, or IM channel to send message to. Can be an encoded ID, or a name."}, "icon_emoji": {"type": "string", "description": "Emoji to use as the icon for this message. Overrides `icon_url`. Must be used in conjunction with `as_user` set to `false`, otherwise ignored. See [authorship](#authorship) below."}, "icon_url": {"type": "string", "description": "URL to an image to use as the icon for this message. Must be used in conjunction with `as_user` set to false, otherwise ignored. See [authorship](#authorship) below."}, "link_names": {"type": "boolean", "description": "Find and link channel names and usernames."}, "parse": {"type": "string", "description": "Change how messages are treated. Defaults to `none`. See [below](#formatting)."}, "text": {"type": "string", "description": "How this field works and whether it is required depends on other fields you use in your API call. [See below](#text_usage) for more detail."}, "thread_ts": {"type": "string", "description": "Provide another message's `ts` value to post this message in a thread. Avoid using a reply's `ts` value; use its parent's value instead. Ephemeral messages in threads are only shown if there is already an active thread."}, "user": {"type": "string", "description": "`id` of the user who will receive the ephemeral message. The user should be in the channel specified by the `channel` argument."}, "username": {"type": "string", "description": "Set your bot's user name. Must be used in conjunction with `as_user` set to false, otherwise ignored. See [authorship](#authorship) below."}}}}}, "required": true}, "responses": {"200": {"description": "Typical success response", "content": {"application/json": {"schema": {"title": "chat.postEphemeral success schema", "required": ["message_ts", "ok"], "type": "object", "properties": {"message_ts": {"$ref": "#/components/schemas/defs_ts"}, "ok": {"$ref": "#/components/schemas/defs_ok_true"}}, "description": "Schema for successful response from chat.postEphemeral method"}, "example": {"message_ts": "1502210682.580145", "ok": true}}}}, "default": {"description": "Typical error response", "content": {"application/json": {"schema": {"title": "chat.postEphemeral error schema", "required": ["error", "ok"], "type": "object", "properties": {"callstack": {"type": "string", "description": "Note: PHP callstack is only visible in dev/qa"}, "error": {"type": "string", "enum": ["channel_not_found", "is_archived", "msg_too_long", "no_text", "restricted_action", "too_many_attachments", "user_not_in_channel", "not_authed", "invalid_auth", "account_inactive", "token_revoked", "no_permission", "org_login_required", "invalid_arg_name", "invalid_array_arg", "invalid_charset", "invalid_form_data", "invalid_post_type", "missing_post_type", "team_added_to_org", "invalid_json", "json_not_object", "request_timeout", "upgrade_required", "fatal_error"]}, "ok": {"$ref": "#/components/schemas/defs_ok_false"}}, "description": "Schema for error response from chat.postEphemeral method"}, "example": {"error": "user_not_in_channel", "ok": false}}}}}, "security": [{"slackAuth": ["chat:write:user", "chat:write:bot"]}]}}, "/chat.postMessage": {"post": {"tags": ["chat"], "description": "Sends a message to a channel.", "externalDocs": {"description": "API method documentation", "url": "https://api.slack.com/methods/chat.postMessage"}, "operationId": "chat_postMessage", "parameters": [{"name": "token", "in": "header", "description": "Authentication token. Requires scope: `chat:write`", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/x-www-form-urlencoded": {"schema": {"required": ["channel", "text"], "properties": {"as_user": {"type": "string", "description": "Pass true to post the message as the authed user, instead of as a bot. Defaults to false. See [authorship](#authorship) below."}, "attachments": {"type": "string", "description": "A JSON-based array of structured attachments, presented as a URL-encoded string."}, "blocks": {"type": "string", "description": "A JSON-based array of structured blocks, presented as a URL-encoded string."}, "channel": {"type": "string", "description": "Channel, private group, or IM channel to send message to. Can be an encoded ID, or a name. See [below](#channels) for more details."}, "icon_emoji": {"type": "string", "description": "Emoji to use as the icon for this message. Overrides `icon_url`. Must be used in conjunction with `as_user` set to `false`, otherwise ignored. See [authorship](#authorship) below."}, "icon_url": {"type": "string", "description": "URL to an image to use as the icon for this message. Must be used in conjunction with `as_user` set to false, otherwise ignored. See [authorship](#authorship) below."}, "link_names": {"type": "boolean", "description": "Find and link channel names and usernames."}, "mrkdwn": {"type": "boolean", "description": "Disable Slack markup parsing by setting to `false`. Enabled by default."}, "parse": {"type": "string", "description": "Change how messages are treated. Defaults to `none`. See [below](#formatting)."}, "reply_broadcast": {"type": "boolean", "description": "Used in conjunction with `thread_ts` and indicates whether reply should be made visible to everyone in the channel or conversation. Defaults to `false`."}, "text": {"type": "string", "description": "How this field works and whether it is required depends on other fields you use in your API call. [See below](#text_usage) for more detail."}, "thread_ts": {"type": "string", "description": "Provide another message's `ts` value to make this message a reply. Avoid using a reply's `ts` value; use its parent instead."}, "unfurl_links": {"type": "boolean", "description": "Pass true to enable unfurling of primarily text-based content."}, "unfurl_media": {"type": "boolean", "description": "Pass false to disable unfurling of media content."}, "username": {"type": "string", "description": "Set your bot's user name. Must be used in conjunction with `as_user` set to false, otherwise ignored. See [authorship](#authorship) below."}}}}, "application/json": {"schema": {"required": ["channel", "text"], "properties": {"as_user": {"type": "string", "description": "Pass true to post the message as the authed user, instead of as a bot. Defaults to false. See [authorship](#authorship) below."}, "attachments": {"type": "string", "description": "A JSON-based array of structured attachments, presented as a URL-encoded string."}, "blocks": {"type": "string", "description": "A JSON-based array of structured blocks, presented as a URL-encoded string."}, "channel": {"type": "string", "description": "Channel, private group, or IM channel to send message to. Can be an encoded ID, or a name. See [below](#channels) for more details."}, "icon_emoji": {"type": "string", "description": "Emoji to use as the icon for this message. Overrides `icon_url`. Must be used in conjunction with `as_user` set to `false`, otherwise ignored. See [authorship](#authorship) below."}, "icon_url": {"type": "string", "description": "URL to an image to use as the icon for this message. Must be used in conjunction with `as_user` set to false, otherwise ignored. See [authorship](#authorship) below."}, "link_names": {"type": "boolean", "description": "Find and link channel names and usernames."}, "mrkdwn": {"type": "boolean", "description": "Disable Slack markup parsing by setting to `false`. Enabled by default."}, "parse": {"type": "string", "description": "Change how messages are treated. Defaults to `none`. See [below](#formatting)."}, "reply_broadcast": {"type": "boolean", "description": "Used in conjunction with `thread_ts` and indicates whether reply should be made visible to everyone in the channel or conversation. Defaults to `false`."}, "text": {"type": "string", "description": "How this field works and whether it is required depends on other fields you use in your API call. [See below](#text_usage) for more detail."}, "thread_ts": {"type": "string", "description": "Provide another message's `ts` value to make this message a reply. Avoid using a reply's `ts` value; use its parent instead."}, "unfurl_links": {"type": "boolean", "description": "Pass true to enable unfurling of primarily text-based content."}, "unfurl_media": {"type": "boolean", "description": "Pass false to disable unfurling of media content."}, "username": {"type": "string", "description": "Set your bot's user name. Must be used in conjunction with `as_user` set to false, otherwise ignored. See [authorship](#authorship) below."}}}}}, "required": true}, "responses": {"200": {"description": "Typical success response", "content": {"application/json": {"schema": {"title": "chat.postMessage success schema", "required": ["channel", "message", "ok", "ts"], "type": "object", "properties": {"channel": {"$ref": "#/components/schemas/defs_channel"}, "message": {"$ref": "#/components/schemas/objs_message"}, "ok": {"$ref": "#/components/schemas/defs_ok_true"}, "ts": {"$ref": "#/components/schemas/defs_ts"}}, "description": "Schema for successful response of chat.postMessage method"}, "example": {"channel": "C1H9RESGL", "message": {"attachments": [{"fallback": "This is an attachment's fallback", "id": 1, "text": "This is an attachment"}], "bot_id": "B19LU7CSY", "subtype": "bot_message", "text": "Here's a message for you", "ts": "1503435956.000247", "type": "message", "username": "ecto1"}, "ok": true, "ts": "1503435956.000247"}}}}, "default": {"description": "Typical error response if too many attachments are included", "content": {"application/json": {"schema": {"title": "chat.postMessage error schema", "required": ["error", "ok"], "type": "object", "properties": {"callstack": {"type": "string", "description": "Note: PHP callstack is only visible in dev/qa"}, "error": {"type": "string", "enum": ["channel_not_found", "not_in_channel", "is_archived", "msg_too_long", "no_text", "too_many_attachments", "rate_limited", "not_authed", "invalid_auth", "account_inactive", "invalid_arg_name", "invalid_array_arg", "invalid_charset", "invalid_form_data", "invalid_post_type", "missing_post_type"]}, "ok": {"$ref": "#/components/schemas/defs_ok_false"}}, "description": "Schema for error response chat.postMessage method"}, "example": {"error": "too_many_attachments", "ok": false}}}}}, "security": [{"slackAuth": ["chat:write:user", "chat:write:bot"]}]}}, "/chat.scheduleMessage": {"post": {"tags": ["chat"], "description": "Schedules a message to be sent to a channel.", "externalDocs": {"description": "API method documentation", "url": "https://api.slack.com/methods/chat.scheduleMessage"}, "operationId": "chat_scheduleMessage", "parameters": [{"name": "token", "in": "header", "description": "Authentication token. Requires scope: `chat:write`", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/x-www-form-urlencoded": {"schema": {"required": ["channel", "post_at", "text"], "properties": {"channel": {"type": "string", "description": "Channel, private group, or DM channel to send message to. Can be an encoded ID, or a name. See [below](#channels) for more details."}, "text": {"type": "string", "description": "How this field works and whether it is required depends on other fields you use in your API call. [See below](#text_usage) for more detail."}, "post_at": {"type": "string", "description": "Unix EPOCH timestamp of time in future to send the message."}, "parse": {"type": "string", "description": "Change how messages are treated. Defaults to `none`. See [chat.postMessage](chat.postMessage#formatting)."}, "as_user": {"type": "boolean", "description": "Pass true to post the message as the authed user, instead of as a bot. Defaults to false. See [chat.postMessage](chat.postMessage#authorship)."}, "link_names": {"type": "boolean", "description": "Find and link channel names and usernames."}, "attachments": {"type": "string", "description": "A JSON-based array of structured attachments, presented as a URL-encoded string."}, "blocks": {"type": "string", "description": "A JSON-based array of structured blocks, presented as a URL-encoded string."}, "unfurl_links": {"type": "boolean", "description": "Pass true to enable unfurling of primarily text-based content."}, "unfurl_media": {"type": "boolean", "description": "Pass false to disable unfurling of media content."}, "thread_ts": {"type": "number", "description": "Provide another message's `ts` value to make this message a reply. Avoid using a reply's `ts` value; use its parent instead."}, "reply_broadcast": {"type": "boolean", "description": "Used in conjunction with `thread_ts` and indicates whether reply should be made visible to everyone in the channel or conversation. Defaults to `false`."}}}}, "application/json": {"schema": {"required": ["channel", "post_at", "text"], "properties": {"channel": {"type": "string", "description": "Channel, private group, or DM channel to send message to. Can be an encoded ID, or a name. See [below](#channels) for more details."}, "text": {"type": "string", "description": "How this field works and whether it is required depends on other fields you use in your API call. [See below](#text_usage) for more detail."}, "post_at": {"type": "string", "description": "Unix EPOCH timestamp of time in future to send the message."}, "parse": {"type": "string", "description": "Change how messages are treated. Defaults to `none`. See [chat.postMessage](chat.postMessage#formatting)."}, "as_user": {"type": "boolean", "description": "Pass true to post the message as the authed user, instead of as a bot. Defaults to false. See [chat.postMessage](chat.postMessage#authorship)."}, "link_names": {"type": "boolean", "description": "Find and link channel names and usernames."}, "attachments": {"type": "string", "description": "A JSON-based array of structured attachments, presented as a URL-encoded string."}, "blocks": {"type": "string", "description": "A JSON-based array of structured blocks, presented as a URL-encoded string."}, "unfurl_links": {"type": "boolean", "description": "Pass true to enable unfurling of primarily text-based content."}, "unfurl_media": {"type": "boolean", "description": "Pass false to disable unfurling of media content."}, "thread_ts": {"type": "number", "description": "Provide another message's `ts` value to make this message a reply. Avoid using a reply's `ts` value; use its parent instead."}, "reply_broadcast": {"type": "boolean", "description": "Used in conjunction with `thread_ts` and indicates whether reply should be made visible to everyone in the channel or conversation. Defaults to `false`."}}}}}, "required": true}, "responses": {"200": {"description": "Typical success response", "content": {"application/json": {"schema": {"title": "chat.scheduleMessage success schema", "required": ["channel", "message", "ok", "post_at", "scheduled_message_id"], "type": "object", "properties": {"channel": {"$ref": "#/components/schemas/defs_channel"}, "message": {"required": ["bot_id", "team", "text", "type", "user"], "type": "object", "properties": {"bot_id": {"$ref": "#/components/schemas/defs_bot_id"}, "bot_profile": {"$ref": "#/components/schemas/objs_bot_profile"}, "team": {"$ref": "#/components/schemas/defs_team"}, "text": {"type": "string"}, "type": {"type": "string"}, "user": {"$ref": "#/components/schemas/defs_user_id"}, "username": {"type": "string"}}}, "ok": {"$ref": "#/components/schemas/defs_ok_true"}, "post_at": {"type": "integer"}, "scheduled_message_id": {"title": "Scheduled Message ID", "pattern": "^[Q][A-Z0-9]{8,}$", "type": "string"}}, "description": "Schema for successful response of chat.scheduleMessage method"}, "example": {"channel": "C1H9RESGL", "message": {"attachments": [{"fallback": "This is an attachment's fallback", "id": 1, "text": "This is an attachment"}], "bot_id": "B19LU7CSY", "subtype": "bot_message", "text": "Here's a message for you in the future", "type": "delayed_message", "username": "ecto1"}, "ok": true, "post_at": "1562180400", "scheduled_message_id": "Q1298393284"}}}}, "default": {"description": "Typical error response if the `post_at` is invalid (ex. in the past or too far into the future)", "content": {"application/json": {"schema": {"title": "chat.scheduleMessage error schema", "required": ["error", "ok"], "type": "object", "properties": {"callstack": {"type": "string", "description": "Note: PHP callstack is only visible in dev/qa"}, "error": {"type": "string", "enum": ["invalid_time", "time_in_past", "time_too_far", "channel_not_found", "not_in_channel", "is_archived", "msg_too_long", "no_text", "restricted_action", "restricted_action_read_only_channel", "restricted_action_thread_only_channel", "restricted_action_non_threadable_channel", "too_many_attachments", "rate_limited", "not_authed", "invalid_auth", "account_inactive", "token_revoked", "no_permission", "org_login_required", "ekm_access_denied", "missing_scope", "invalid_arguments", "invalid_arg_name", "invalid_charset", "invalid_form_data", "invalid_post_type", "missing_post_type", "team_added_to_org", "invalid_json", "json_not_object", "request_timeout", "upgrade_required", "fatal_error"]}, "ok": {"$ref": "#/components/schemas/defs_ok_false"}}, "description": "Schema for error response chat.scheduleMessage method"}, "example": {"error": "time_in_past", "ok": false}}}}}, "security": [{"slackAuth": ["chat:write:user", "chat:write:bot"]}]}}, "/chat.scheduledMessages.list": {"get": {"tags": ["chat.scheduledMessages", "chat"], "description": "Returns a list of scheduled messages.", "externalDocs": {"description": "API method documentation", "url": "https://api.slack.com/methods/chat.scheduledMessages.list"}, "operationId": "chat_scheduledMessages_list", "parameters": [{"name": "token", "in": "header", "description": "Authentication token. Requires scope: `none`", "required": true, "schema": {"type": "string"}}, {"name": "channel", "in": "query", "description": "The channel of the scheduled messages", "schema": {"type": "string"}}, {"name": "latest", "in": "query", "description": "A UNIX timestamp of the latest value in the time range", "schema": {"type": "number"}}, {"name": "oldest", "in": "query", "description": "A UNIX timestamp of the oldest value in the time range", "schema": {"type": "number"}}, {"name": "limit", "in": "query", "description": "Maximum number of original entries to return.", "schema": {"type": "integer"}}, {"name": "cursor", "in": "query", "description": "For pagination purposes, this is the `cursor` value returned from a previous call to `chat.scheduledmessages.list` indicating where you want to start this call from.", "schema": {"type": "string"}}], "responses": {"200": {"description": "Typical success response", "content": {"application/json": {"schema": {"title": "chat.scheduledMessages.list schema", "required": ["ok", "response_metadata", "scheduled_messages"], "type": "object", "properties": {"ok": {"$ref": "#/components/schemas/defs_ok_true"}, "response_metadata": {"required": ["next_cursor"], "type": "object", "properties": {"next_cursor": {"type": "string"}}}, "scheduled_messages": {"type": "array", "items": {"required": ["channel_id", "date_created", "id", "post_at"], "type": "object", "properties": {"channel_id": {"$ref": "#/components/schemas/defs_channel_id"}, "date_created": {"type": "integer"}, "id": {"pattern": "^[Q][A-Z0-9]{8,}$", "type": "string"}, "post_at": {"type": "integer"}, "text": {"type": "string"}}}}}, "description": "Schema for successful response from chat.scheduledMessages.list method"}, "example": {"ok": true, "response_metadata": {"next_cursor": ""}, "scheduled_messages": [{"channel_id": "C1H9RESGL", "date_created": 1551891734, "id": 1298393284, "post_at": 1551991428, "text": "Here's a message for you in the future"}]}}}}, "default": {"description": "Typical error response if the channel passed is invalid", "content": {"application/json": {"schema": {"title": "chat.scheduledMessages.list error schema", "required": ["error", "ok"], "type": "object", "properties": {"callstack": {"type": "string", "description": "Note: PHP callstack is only visible in dev/qa"}, "error": {"type": "string", "enum": ["invalid_channel", "not_authed", "invalid_auth", "account_inactive", "token_revoked", "no_permission", "org_login_required", "ekm_access_denied", "missing_scope", "invalid_arguments", "invalid_arg_name", "invalid_charset", "invalid_form_data", "invalid_post_type", "missing_post_type", "team_added_to_org", "invalid_json", "json_not_object", "request_timeout", "upgrade_required", "fatal_error"]}, "ok": {"$ref": "#/components/schemas/defs_ok_false"}}, "description": "Schema for error response from chat.scheduledMessages.list method"}, "example": {"error": "invalid_channel", "ok": false}}}}}, "security": [{"slackAuth": ["none"]}]}}, "/chat.unfurl": {"post": {"tags": ["chat"], "description": "Provide custom unfurl behavior for user-posted URLs", "externalDocs": {"description": "API method documentation", "url": "https://api.slack.com/methods/chat.unfurl"}, "operationId": "chat_unfurl", "parameters": [{"name": "token", "in": "header", "description": "Authentication token. Requires scope: `links:write`", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/x-www-form-urlencoded": {"schema": {"required": ["channel", "ts", "unfurls"], "properties": {"channel": {"type": "string", "description": "Channel ID of the message"}, "ts": {"type": "string", "description": "Timestamp of the message to add unfurl behavior to."}, "unfurls": {"type": "string", "description": "URL-encoded JSON map with keys set to URLs featured in the the message, pointing to their unfurl blocks or message attachments."}, "user_auth_message": {"type": "string", "description": "Provide a simply-formatted string to send as an ephemeral message to the user as invitation to authenticate further and enable full unfurling behavior"}, "user_auth_required": {"type": "boolean", "description": "Set to `true` or `1` to indicate the user must install your Slack app to trigger unfurls for this domain"}, "user_auth_url": {"type": "string", "description": "Send users to this custom URL where they will complete authentication in your app to fully trigger unfurling. Value should be properly URL-encoded."}}}}, "application/json": {"schema": {"required": ["channel", "ts", "unfurls"], "properties": {"channel": {"type": "string", "description": "Channel ID of the message"}, "ts": {"type": "string", "description": "Timestamp of the message to add unfurl behavior to."}, "unfurls": {"type": "string", "description": "URL-encoded JSON map with keys set to URLs featured in the the message, pointing to their unfurl blocks or message attachments."}, "user_auth_message": {"type": "string", "description": "Provide a simply-formatted string to send as an ephemeral message to the user as invitation to authenticate further and enable full unfurling behavior"}, "user_auth_required": {"type": "boolean", "description": "Set to `true` or `1` to indicate the user must install your Slack app to trigger unfurls for this domain"}, "user_auth_url": {"type": "string", "description": "Send users to this custom URL where they will complete authentication in your app to fully trigger unfurling. Value should be properly URL-encoded."}}}}}, "required": true}, "responses": {"200": {"description": "Typical, minimal success response", "content": {"application/json": {"schema": {"title": "chat.unfurl success schema", "required": ["ok"], "type": "object", "properties": {"ok": {"$ref": "#/components/schemas/defs_ok_true"}}, "description": "Schema for successful response from chat.unfurl method"}, "example": {"ok": true}}}}, "default": {"description": "Typical error response", "content": {"application/json": {"schema": {"title": "chat.unfurl error schema", "required": ["error", "ok"], "type": "object", "properties": {"callstack": {"type": "string", "description": "Note: PHP callstack is only visible in dev/qa"}, "error": {"type": "string", "enum": ["cannot_unfurl_url", "cannot_find_service", "missing_unfurls", "cannot_prompt", "not_authed", "invalid_auth", "account_inactive", "token_revoked", "no_permission", "org_login_required", "user_is_bot", "invalid_arg_name", "invalid_array_arg", "invalid_charset", "invalid_form_data", "invalid_post_type", "missing_post_type", "team_added_to_org", "invalid_json", "json_not_object", "request_timeout", "upgrade_required", "fatal_error"]}, "ok": {"$ref": "#/components/schemas/defs_ok_false"}}, "description": "Schema for error response from chat.unfurl method"}, "example": {"error": "cannot_unfurl_url", "ok": false}}}}}, "security": [{"slackAuth": ["links:write"]}]}}, "/chat.update": {"post": {"tags": ["chat"], "description": "Updates a message.", "externalDocs": {"description": "API method documentation", "url": "https://api.slack.com/methods/chat.update"}, "operationId": "chat_update", "parameters": [{"name": "token", "in": "header", "description": "Authentication token. Requires scope: `chat:write`", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/x-www-form-urlencoded": {"schema": {"required": ["channel", "ts"], "properties": {"as_user": {"type": "string", "description": "Pass true to update the message as the authed user. [Bot users](/bot-users) in this context are considered authed users."}, "attachments": {"type": "string", "description": "A JSON-based array of structured attachments, presented as a URL-encoded string. This field is required when not presenting `text`. If you don't include this field, the message's previous `attachments` will be retained. To remove previous `attachments`, include an empty array for this field."}, "blocks": {"type": "string", "description": "A JSON-based array of [structured blocks](/block-kit/building), presented as a URL-encoded string. If you don't include this field, the message's previous `blocks` will be retained. To remove previous `blocks`, include an empty array for this field."}, "channel": {"type": "string", "description": "Channel containing the message to be updated."}, "link_names": {"type": "string", "description": "Find and link channel names and usernames. Defaults to `none`. If you do not specify a value for this field, the original value set for the message will be overwritten with the default, `none`."}, "parse": {"type": "string", "description": "Change how messages are treated. Defaults to `client`, unlike `chat.postMessage`. Accepts either `none` or `full`. If you do not specify a value for this field, the original value set for the message will be overwritten with the default, `client`."}, "text": {"type": "string", "description": "New text for the message, using the [default formatting rules](/reference/surfaces/formatting). It's not required when presenting `blocks` or `attachments`."}, "ts": {"type": "string", "description": "Timestamp of the message to be updated."}}}}, "application/json": {"schema": {"required": ["channel", "ts"], "properties": {"as_user": {"type": "string", "description": "Pass true to update the message as the authed user. [Bot users](/bot-users) in this context are considered authed users."}, "attachments": {"type": "string", "description": "A JSON-based array of structured attachments, presented as a URL-encoded string. This field is required when not presenting `text`. If you don't include this field, the message's previous `attachments` will be retained. To remove previous `attachments`, include an empty array for this field."}, "blocks": {"type": "string", "description": "A JSON-based array of [structured blocks](/block-kit/building), presented as a URL-encoded string. If you don't include this field, the message's previous `blocks` will be retained. To remove previous `blocks`, include an empty array for this field."}, "channel": {"type": "string", "description": "Channel containing the message to be updated."}, "link_names": {"type": "string", "description": "Find and link channel names and usernames. Defaults to `none`. If you do not specify a value for this field, the original value set for the message will be overwritten with the default, `none`."}, "parse": {"type": "string", "description": "Change how messages are treated. Defaults to `client`, unlike `chat.postMessage`. Accepts either `none` or `full`. If you do not specify a value for this field, the original value set for the message will be overwritten with the default, `client`."}, "text": {"type": "string", "description": "New text for the message, using the [default formatting rules](/reference/surfaces/formatting). It's not required when presenting `blocks` or `attachments`."}, "ts": {"type": "string", "description": "Timestamp of the message to be updated."}}}}}, "required": true}, "responses": {"200": {"description": "Typical success response", "content": {"application/json": {"schema": {"title": "chat.update success schema", "required": ["channel", "message", "ok", "text", "ts"], "type": "object", "properties": {"channel": {"type": "string"}, "message": {"title": "Message object", "required": ["text"], "type": "object", "properties": {"attachments": {"type": "array", "items": {"type": "object", "properties": {}}}, "blocks": {"type": "object", "properties": {}}, "text": {"type": "string"}}}, "ok": {"$ref": "#/components/schemas/defs_ok_true"}, "text": {"type": "string"}, "ts": {"type": "string"}}, "description": "Schema for successful response of chat.update method"}, "example": {"channel": "C024BE91L", "message": {"text": "Updated text you carefully authored", "user": "U34567890"}, "ok": true, "text": "Updated text you carefully authored", "ts": "1401383885.000061"}}}}, "default": {"description": "Typical error response", "content": {"application/json": {"schema": {"title": "chat.update error schema", "required": ["error", "ok"], "type": "object", "properties": {"callstack": {"type": "string", "description": "Note: PHP callstack is only visible in dev/qa"}, "error": {"type": "string", "enum": ["message_not_found", "cant_update_message", "channel_not_found", "edit_window_closed", "msg_too_long", "too_many_attachments", "rate_limited", "no_text", "not_authed", "invalid_auth", "account_inactive", "token_revoked", "no_permission", "invalid_arg_name", "invalid_array_arg", "invalid_charset", "invalid_form_data", "invalid_post_type", "missing_post_type", "request_timeout", "invalid_json", "json_not_object", "upgrade_required", "fatal_error", "is_inactive"]}, "ok": {"$ref": "#/components/schemas/defs_ok_false"}}, "description": "Schema for error response chat.update method"}, "example": {"error": "cant_update_message", "ok": false}}}}}, "security": [{"slackAuth": ["chat:write:user", "chat:write:bot"]}]}}, "/conversations.archive": {"post": {"tags": ["conversations"], "description": "Archives a conversation.", "externalDocs": {"description": "API method documentation", "url": "https://api.slack.com/methods/conversations.archive"}, "operationId": "conversations_archive", "parameters": [{"name": "token", "in": "header", "description": "Authentication token. Requires scope: `conversations:write`", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/x-www-form-urlencoded": {"schema": {"required": ["channel"], "properties": {"channel": {"type": "string", "description": "ID of conversation to archive"}}}}, "application/json": {"schema": {"required": ["channel"], "properties": {"channel": {"type": "string", "description": "ID of conversation to archive"}}}}}, "required": true}, "responses": {"200": {"description": "Typical success response", "content": {"application/json": {"schema": {"title": "conversations.archive success schema", "required": ["ok"], "type": "object", "properties": {"ok": {"$ref": "#/components/schemas/defs_ok_true"}}, "description": "Schema for successful response conversations.archive method"}, "example": {"ok": true}}}}, "default": {"description": "Typical error response", "content": {"application/json": {"schema": {"title": "conversations.archive error schema", "required": ["error", "ok"], "type": "object", "properties": {"callstack": {"type": "string", "description": "Note: PHP callstack is only visible in dev/qa"}, "error": {"type": "string", "enum": ["method_not_supported_for_channel_type", "missing_scope", "not_supported", "channel_not_found", "already_archived", "cant_archive_general", "restricted_action", "not_authed", "invalid_auth", "account_inactive", "user_is_bot", "user_is_restricted", "user_is_ultra_restricted", "invalid_arg_name", "invalid_array_arg", "invalid_charset", "invalid_form_data", "invalid_post_type", "missing_post_type", "invalid_json", "json_not_object", "request_timeout", "upgrade_required", "team_added_to_org", "missing_charset", "superfluous_charset"]}, "needed": {"type": "string"}, "ok": {"$ref": "#/components/schemas/defs_ok_false"}, "provided": {"type": "string"}}, "description": "Schema for error response from conversations.archive method"}, "example": {"error": "channel_not_found", "ok": false}}}}}, "security": [{"slackAuth": ["channels:write", "groups:write", "im:write", "mpim:write"]}]}}, "/conversations.close": {"post": {"tags": ["conversations"], "description": "Closes a direct message or multi-person direct message.", "externalDocs": {"description": "API method documentation", "url": "https://api.slack.com/methods/conversations.close"}, "operationId": "conversations_close", "parameters": [{"name": "token", "in": "header", "description": "Authentication token. Requires scope: `conversations:write`", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/x-www-form-urlencoded": {"schema": {"required": ["channel"], "properties": {"channel": {"type": "string", "description": "Conversation to close."}}}}, "application/json": {"schema": {"required": ["channel"], "properties": {"channel": {"type": "string", "description": "Conversation to close."}}}}}, "required": true}, "responses": {"200": {"description": "Typical success response", "content": {"application/json": {"schema": {"title": "conversations.close success schema", "required": ["ok"], "type": "object", "properties": {"already_closed": {"type": "boolean"}, "no_op": {"type": "boolean"}, "ok": {"$ref": "#/components/schemas/defs_ok_true"}}, "description": "Schema for successful response conversations.close method"}, "example": {"ok": true}}}}, "default": {"description": "Typical error response", "content": {"application/json": {"schema": {"title": "conversations.close error schema", "required": ["error", "ok"], "type": "object", "properties": {"callstack": {"type": "string", "description": "Note: PHP callstack is only visible in dev/qa"}, "error": {"type": "string", "enum": ["method_not_supported_for_channel_type", "channel_not_found", "user_does_not_own_channel", "missing_scope", "not_authed", "invalid_auth", "account_inactive", "invalid_arg_name", "invalid_array_arg", "invalid_charset", "invalid_form_data", "invalid_post_type", "missing_post_type", "team_added_to_org", "invalid_json", "json_not_object", "request_timeout", "upgrade_required"]}, "needed": {"type": "string"}, "ok": {"$ref": "#/components/schemas/defs_ok_false"}, "provided": {"type": "string"}}, "description": "Schema for error response from conversations.close method"}, "example": {"error": "channel_not_found", "ok": false}}}}}, "security": [{"slackAuth": ["channels:write", "groups:write", "im:write", "mpim:write"]}]}}, "/conversations.create": {"post": {"tags": ["conversations"], "description": "Initiates a public or private channel-based conversation", "externalDocs": {"description": "API method documentation", "url": "https://api.slack.com/methods/conversations.create"}, "operationId": "conversations_create", "parameters": [{"name": "token", "in": "header", "description": "Authentication token. Requires scope: `conversations:write`", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/x-www-form-urlencoded": {"schema": {"required": ["name"], "properties": {"name": {"type": "string", "description": "Name of the public or private channel to create"}, "is_private": {"type": "boolean", "description": "Create a private channel instead of a public one"}}}}, "application/json": {"schema": {"required": ["name"], "properties": {"name": {"type": "string", "description": "Name of the public or private channel to create"}, "is_private": {"type": "boolean", "description": "Create a private channel instead of a public one"}}}}}, "required": true}, "responses": {"200": {"description": "If successful, the command returns a rather stark [conversation object](/types/conversation)", "content": {"application/json": {"schema": {"title": "conversations.create success schema", "required": ["channel", "ok"], "type": "object", "properties": {"channel": {"$ref": "#/components/schemas/objs_conversation"}, "ok": {"$ref": "#/components/schemas/defs_ok_true"}}, "description": "Schema for successful response conversations.create method"}, "example": {"channel": {"created": 1504554479, "creator": "U0123456", "id": "C0EAQDV4Z", "is_archived": false, "is_channel": true, "is_ext_shared": false, "is_general": false, "is_group": false, "is_im": false, "is_member": true, "is_mpim": false, "is_org_shared": false, "is_pending_ext_shared": false, "is_private": false, "is_shared": false, "last_read": "0000000000.000000", "name": "endeavor", "name_normalized": "endeavor", "pending_shared": [], "previous_names": [], "priority": 0, "purpose": {"creator": "", "last_set": 0, "value": ""}, "topic": {"creator": "", "last_set": 0, "value": ""}, "unlinked": 0, "unread_count": 0, "unread_count_display": 0}, "ok": true}}}}, "default": {"description": "Typical error response when name already in use", "content": {"application/json": {"schema": {"title": "conversations.create error schema", "required": ["error", "ok"], "type": "object", "properties": {"callstack": {"type": "string", "description": "Note: PHP callstack is only visible in dev/qa"}, "detail": {"type": "string"}, "error": {"type": "string", "enum": ["method_not_supported_for_channel_type", "missing_scope", "name_taken", "restricted_action", "no_channel", "invalid_name_required", "invalid_name_punctuation", "invalid_name_maxlength", "invalid_name_specials", "invalid_name", "not_authed", "invalid_auth", "account_inactive", "user_is_bot", "user_is_restricted", "invalid_arg_name", "invalid_array_arg", "invalid_charset", "invalid_form_data", "invalid_post_type", "missing_post_type", "team_added_to_org", "invalid_json", "json_not_object", "request_timeout", "upgrade_required"]}, "needed": {"type": "string"}, "ok": {"$ref": "#/components/schemas/defs_ok_false"}, "provided": {"type": "string"}}, "description": "Schema for error response from conversations.create method"}, "example": {"error": "name_taken", "ok": false}}}}}, "security": [{"slackAuth": ["channels:write", "groups:write", "im:write", "mpim:write"]}]}}, "/conversations.history": {"get": {"tags": ["conversations"], "description": "Fetches a conversation's history of messages and events.", "externalDocs": {"description": "API method documentation", "url": "https://api.slack.com/methods/conversations.history"}, "operationId": "conversations_history", "parameters": [{"name": "token", "in": "query", "description": "Authentication token. Requires scope: `conversations:history`", "required": true, "schema": {"type": "string"}}, {"name": "channel", "in": "query", "description": "Conversation ID to fetch history for.", "required": true, "schema": {"type": "string"}}, {"name": "latest", "in": "query", "description": "End of time range of messages to include in results.", "schema": {"type": "number"}}, {"name": "oldest", "in": "query", "description": "Start of time range of messages to include in results.", "schema": {"type": "number"}}, {"name": "inclusive", "in": "query", "description": "Include messages with latest or oldest timestamp in results only when either timestamp is specified.", "schema": {"type": "boolean"}}, {"name": "limit", "in": "query", "description": "The maximum number of items to return. Fewer than the requested number of items may be returned, even if the end of the users list hasn't been reached.", "schema": {"type": "integer"}}, {"name": "cursor", "in": "query", "description": "Paginate through collections of data by setting the `cursor` parameter to a `next_cursor` attribute returned by a previous request's `response_metadata`. Default value fetches the first \"page\" of the collection. See [pagination](/docs/pagination) for more detail.", "schema": {"type": "string"}}], "responses": {"200": {"description": "Typical success response containing a channel's messages", "content": {"application/json": {"schema": {"title": "conversations.history success schema", "required": ["channel_actions_count", "channel_actions_ts", "has_more", "messages", "ok", "pin_count"], "type": "object", "properties": {"channel_actions_count": {"type": "integer"}, "channel_actions_ts": {"$ref": "#/components/schemas/obj_ref_12"}, "has_more": {"type": "boolean"}, "messages": {"minItems": 1, "uniqueItems": true, "type": "array", "items": {"$ref": "#/components/schemas/objs_message"}}, "ok": {"$ref": "#/components/schemas/defs_ok_true"}, "pin_count": {"type": "integer"}}, "description": "Schema for successful response from conversations.history method"}, "example": {"has_more": true, "messages": [{"text": "I find you punny and would like to smell your nose letter", "ts": "1512085950.000216", "type": "message", "user": "U012AB3CDE"}, {"text": "What, you want to smell my shoes better?", "ts": "1512104434.000490", "type": "message", "user": "U061F7AUR"}], "ok": true, "pin_count": 0, "response_metadata": {"next_cursor": "bmV4dF90czoxNTEyMDg1ODYxMDAwNTQz"}}}}}, "default": {"description": "Typical error response", "content": {"application/json": {"schema": {"title": "conversations.history error schema", "required": ["error", "ok"], "type": "object", "properties": {"callstack": {"type": "string", "description": "Note: PHP callstack is only visible in dev/qa"}, "error": {"type": "string", "enum": ["missing_scope", "channel_not_found", "invalid_ts_latest", "invalid_ts_oldest", "not_authed", "invalid_auth", "account_inactive", "invalid_arg_name", "invalid_array_arg", "invalid_charset", "invalid_form_data", "invalid_post_type", "missing_post_type", "invalid_json", "json_not_object", "request_timeout", "upgrade_required"]}, "needed": {"type": "string"}, "ok": {"$ref": "#/components/schemas/defs_ok_false"}, "provided": {"type": "string"}}, "description": "Schema for error response from conversations.history method"}, "example": {"error": "channel_not_found", "ok": false}}}}}, "security": [{"slackAuth": ["channels:history", "groups:history", "im:history", "mpim:history"]}]}}, "/conversations.info": {"get": {"tags": ["conversations"], "description": "Retrieve information about a conversation.", "externalDocs": {"description": "API method documentation", "url": "https://api.slack.com/methods/conversations.info"}, "operationId": "conversations_info", "parameters": [{"name": "token", "in": "query", "description": "Authentication token. Requires scope: `conversations:read`", "required": true, "schema": {"type": "string"}}, {"name": "channel", "in": "query", "description": "Conversation ID to learn more about", "required": true, "schema": {"type": "string"}}, {"name": "include_locale", "in": "query", "description": "Set this to `true` to receive the locale for this conversation. Defaults to `false`", "schema": {"type": "boolean"}}, {"name": "include_num_members", "in": "query", "description": "Set to `true` to include the member count for the specified conversation. Defaults to `false`", "schema": {"type": "boolean"}}], "responses": {"200": {"description": "Typical success response for a public channel. (Also, a response from a private channel and a multi-party IM is very similar to this example.)", "content": {"application/json": {"schema": {"title": "conversations.info success schema", "required": ["channel", "ok"], "type": "object", "properties": {"channel": {"$ref": "#/components/schemas/objs_conversation"}, "ok": {"$ref": "#/components/schemas/defs_ok_true"}}, "description": "Schema for successful response conversations.info"}, "example": {"channel": {"created": 1449252889, "creator": "W012A3BCD", "id": "C012AB3CD", "is_archived": false, "is_channel": true, "is_ext_shared": false, "is_general": true, "is_group": false, "is_im": false, "is_member": true, "is_mpim": false, "is_org_shared": false, "is_pending_ext_shared": false, "is_private": false, "is_read_only": false, "is_shared": false, "last_read": "1502126650.228446", "locale": "en-US", "name": "general", "name_normalized": "general", "pending_shared": [], "previous_names": ["specifics", "abstractions", "etc"], "purpose": {"creator": "W012A3BCD", "last_set": 1449709364, "value": "This part of the workspace is for fun. Make fun here."}, "topic": {"creator": "W012A3BCD", "last_set": 1449709364, "value": "For public discussion of generalities"}, "unlinked": 0}, "ok": true}}}}, "default": {"description": "Typical error response when a channel cannot be found", "content": {"application/json": {"schema": {"title": "conversations.info error schema", "required": ["error", "ok"], "type": "object", "properties": {"callstack": {"type": "string", "description": "Note: PHP callstack is only visible in dev/qa"}, "error": {"type": "string", "enum": ["missing_scope", "channel_not_found", "team_added_to_org", "not_authed", "invalid_auth", "account_inactive", "invalid_arg_name", "invalid_array_arg", "invalid_charset", "invalid_form_data", "invalid_post_type", "missing_post_type", "invalid_json", "json_not_object", "request_timeout", "upgrade_required"]}, "needed": {"type": "string"}, "ok": {"$ref": "#/components/schemas/defs_ok_false"}, "provided": {"type": "string"}}, "description": "Schema for error response from conversations.info method"}, "example": {"error": "channel_not_found", "ok": false}}}}}, "security": [{"slackAuth": ["channels:read", "groups:read", "im:read", "mpim:read"]}]}}, "/conversations.invite": {"post": {"tags": ["conversations"], "description": "Invites users to a channel.", "externalDocs": {"description": "API method documentation", "url": "https://api.slack.com/methods/conversations.invite"}, "operationId": "conversations_invite", "parameters": [{"name": "token", "in": "header", "description": "Authentication token. Requires scope: `conversations:write`", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/x-www-form-urlencoded": {"schema": {"required": ["channel", "users"], "properties": {"channel": {"type": "string", "description": "The ID of the public or private channel to invite user(s) to."}, "users": {"type": "string", "description": "A comma separated list of user IDs. Up to 1000 users may be listed."}}}}, "application/json": {"schema": {"required": ["channel", "users"], "properties": {"channel": {"type": "string", "description": "The ID of the public or private channel to invite user(s) to."}, "users": {"type": "string", "description": "A comma separated list of user IDs. Up to 1000 users may be listed."}}}}}, "required": true}, "responses": {"200": {"description": "Typical success response when an invitation is extended", "content": {"application/json": {"schema": {"title": "conversations.invite error schema", "required": ["channel", "ok"], "type": "object", "properties": {"channel": {"$ref": "#/components/schemas/objs_conversation"}, "ok": {"$ref": "#/components/schemas/defs_ok_true"}}, "description": "Schema for successful response from conversations.invite method"}, "example": {"channel": {"created": 1449252889, "creator": "W012A3BCD", "id": "C012AB3CD", "is_archived": false, "is_channel": true, "is_ext_shared": false, "is_general": true, "is_group": false, "is_im": false, "is_member": true, "is_mpim": false, "is_org_shared": false, "is_pending_ext_shared": false, "is_private": false, "is_read_only": false, "is_shared": false, "last_read": "1502126650.228446", "locale": "en-US", "name": "general", "name_normalized": "general", "num_members": 23, "pending_shared": [], "previous_names": ["specifics", "abstractions", "etc"], "purpose": {"creator": "W012A3BCD", "last_set": 1449709364, "value": "This part of the workspace is for fun. Make fun here."}, "topic": {"creator": "W012A3BCD", "last_set": 1449709364, "value": "For public discussion of generalities"}, "unlinked": 0}, "ok": true}}}}, "default": {"description": "Typical error response when an invite is attempted on a conversation type that does not support it", "content": {"application/json": {"schema": {"title": "conversations.invite error schema", "required": ["ok"], "type": "object", "properties": {"callstack": {"type": "string", "description": "Note: PHP callstack is only visible in dev/qa"}, "error": {"type": "string", "enum": ["method_not_supported_for_channel_type", "missing_scope", "channel_not_found", "user_not_found", "no_user", "cant_invite_self", "not_in_channel", "already_in_channel", "is_archived", "cant_invite", "too_many_users", "ura_max_channels", "not_authed", "invalid_auth", "account_inactive", "user_is_bot", "user_is_restricted", "user_is_ultra_restricted", "invalid_arg_name", "invalid_array_arg", "invalid_charset", "invalid_form_data", "invalid_post_type", "missing_post_type", "invalid_json", "json_not_object", "request_timeout", "upgrade_required", "team_added_to_org", "missing_charset", "superfluous_charset"]}, "errors": {"title": "errors is returned when an error associates an user", "minItems": 1, "uniqueItems": true, "type": "array", "items": {"required": ["error", "ok"], "type": "object", "properties": {"error": {"type": "string", "enum": ["method_not_supported_for_channel_type", "missing_scope", "channel_not_found", "user_not_found", "no_user", "cant_invite_self", "not_in_channel", "already_in_channel", "is_archived", "cant_invite", "too_many_users", "ura_max_channels", "not_authed", "invalid_auth", "account_inactive", "user_is_bot", "user_is_restricted", "user_is_ultra_restricted", "invalid_arg_name", "invalid_array_arg", "invalid_charset", "invalid_form_data", "invalid_post_type", "missing_post_type", "invalid_json", "json_not_object", "request_timeout", "upgrade_required", "team_added_to_org", "missing_charset", "superfluous_charset"]}, "ok": {"$ref": "#/components/schemas/defs_ok_false"}, "user": {"$ref": "#/components/schemas/defs_user_id"}}}}, "needed": {"type": "string"}, "ok": {"$ref": "#/components/schemas/defs_ok_false"}, "provided": {"type": "string"}}, "description": "Schema for error response from conversations.invite method"}, "example": {"error": "method_not_supported_for_channel_type", "ok": false}}}}}, "security": [{"slackAuth": ["channels:write", "groups:write", "im:write", "mpim:write"]}]}}, "/conversations.join": {"post": {"tags": ["conversations"], "description": "Joins an existing conversation.", "externalDocs": {"description": "API method documentation", "url": "https://api.slack.com/methods/conversations.join"}, "operationId": "conversations_join", "parameters": [{"name": "token", "in": "header", "description": "Authentication token. Requires scope: `channels:write`", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/x-www-form-urlencoded": {"schema": {"required": ["channel"], "properties": {"channel": {"type": "string", "description": "ID of conversation to join"}}}}, "application/json": {"schema": {"required": ["channel"], "properties": {"channel": {"type": "string", "description": "ID of conversation to join"}}}}}, "required": true}, "responses": {"200": {"description": "Typical success response", "content": {"application/json": {"schema": {"title": "conversations.join success schema", "required": ["channel", "ok"], "type": "object", "properties": {"channel": {"$ref": "#/components/schemas/objs_conversation"}, "ok": {"$ref": "#/components/schemas/defs_ok_true"}, "response_metadata": {"title": "Response metadata", "type": "object", "properties": {"warnings": {"minItems": 1, "uniqueItems": true, "type": "array", "items": {"type": "string"}}}}, "warning": {"type": "string"}}, "description": "Schema for successful response from conversations.join method"}, "example": {"channel": {"created": 1449252889, "creator": "U061F7AUR", "id": "C061EG9SL", "is_archived": false, "is_channel": true, "is_ext_shared": false, "is_general": true, "is_group": false, "is_im": false, "is_member": true, "is_mpim": false, "is_org_shared": false, "is_pending_ext_shared": false, "is_private": false, "is_shared": false, "name": "general", "name_normalized": "general", "pending_shared": [], "previous_names": [], "purpose": {"creator": "", "last_set": 0, "value": "For widget discussion"}, "topic": {"creator": "", "last_set": 0, "value": "Which widget do you worry about?"}, "unlinked": 0}, "ok": true, "response_metadata": {"warnings": ["already_in_channel"]}, "warning": "already_in_channel"}}}}, "default": {"description": "Typical error response if the conversation is archived and cannot be joined", "content": {"application/json": {"schema": {"title": "conversations.join error schema", "required": ["error", "ok"], "type": "object", "properties": {"callstack": {"type": "string", "description": "Note: PHP callstack is only visible in dev/qa"}, "error": {"type": "string", "enum": ["method_not_supported_for_channel_type", "missing_scope", "channel_not_found", "is_archived", "not_authed", "invalid_auth", "account_inactive", "user_is_bot", "user_is_restricted", "user_is_ultra_restricted", "invalid_arg_name", "invalid_array_arg", "invalid_charset", "invalid_form_data", "invalid_post_type", "missing_post_type", "invalid_json", "json_not_object", "request_timeout", "upgrade_required", "team_added_to_org", "missing_charset", "superfluous_charset"]}, "needed": {"type": "string"}, "ok": {"$ref": "#/components/schemas/defs_ok_false"}, "provided": {"type": "string"}}, "description": "Schema for error response from conversations.join method"}, "example": {"error": "is_archived", "ok": false}}}}}, "security": [{"slackAuth": ["channels:write"]}]}}, "/conversations.kick": {"post": {"tags": ["conversations"], "description": "Removes a user from a conversation.", "externalDocs": {"description": "API method documentation", "url": "https://api.slack.com/methods/conversations.kick"}, "operationId": "conversations_kick", "parameters": [{"name": "token", "in": "header", "description": "Authentication token. Requires scope: `conversations:write`", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/x-www-form-urlencoded": {"schema": {"required": ["channel", "user"], "properties": {"channel": {"type": "string", "description": "ID of conversation to remove user from."}, "user": {"type": "string", "description": "User ID to be removed."}}}}, "application/json": {"schema": {"required": ["channel", "user"], "properties": {"channel": {"type": "string", "description": "ID of conversation to remove user from."}, "user": {"type": "string", "description": "User ID to be removed."}}}}}, "required": true}, "responses": {"200": {"description": "Typical success response", "content": {"application/json": {"schema": {"title": "conversations.kick success schema", "required": ["ok"], "type": "object", "properties": {"ok": {"$ref": "#/components/schemas/defs_ok_true"}}, "description": "Schema for successful response conversations.kick method"}, "example": {"ok": true}}}}, "default": {"description": "Typical error response when you attempt to kick yourself from a channel", "content": {"application/json": {"schema": {"title": "conversations.kick error schema", "required": ["error", "ok"], "type": "object", "properties": {"callstack": {"type": "string", "description": "Note: PHP callstack is only visible in dev/qa"}, "error": {"type": "string", "enum": ["method_not_supported_for_channel_type", "missing_scope", "channel_not_found", "user_not_found", "cant_kick_self", "not_in_channel", "cant_kick_from_general", "restricted_action", "not_authed", "invalid_auth", "account_inactive", "user_is_bot", "user_is_restricted", "invalid_arg_name", "invalid_array_arg", "invalid_charset", "invalid_form_data", "invalid_post_type", "missing_post_type", "invalid_json", "json_not_object", "request_timeout", "upgrade_required"]}, "needed": {"type": "string"}, "ok": {"$ref": "#/components/schemas/defs_ok_false"}, "provided": {"type": "string"}}, "description": "Schema for error response conversations.kick method"}, "example": {"error": "cant_kick_self", "ok": false}}}}}, "security": [{"slackAuth": ["channels:write", "groups:write", "im:write", "mpim:write"]}]}}, "/conversations.leave": {"post": {"tags": ["conversations"], "description": "Leaves a conversation.", "externalDocs": {"description": "API method documentation", "url": "https://api.slack.com/methods/conversations.leave"}, "operationId": "conversations_leave", "parameters": [{"name": "token", "in": "header", "description": "Authentication token. Requires scope: `conversations:write`", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/x-www-form-urlencoded": {"schema": {"required": ["channel"], "properties": {"channel": {"type": "string", "description": "Conversation to leave"}}}}, "application/json": {"schema": {"required": ["channel"], "properties": {"channel": {"type": "string", "description": "Conversation to leave"}}}}}, "required": true}, "responses": {"200": {"description": "Typical success response", "content": {"application/json": {"schema": {"title": "conversations.leave success schema", "required": ["ok"], "type": "object", "properties": {"not_in_channel": {"type": "boolean"}, "ok": {"$ref": "#/components/schemas/defs_ok_true"}}, "description": "Schema for successful response from conversations.leave method"}, "example": {"ok": true}}}}, "default": {"description": "Typical error response when attempting to leave a workspace's \"general\" channel", "content": {"application/json": {"schema": {"title": "conversations.leave error schema", "required": ["error", "ok"], "type": "object", "properties": {"callstack": {"type": "string", "description": "Note: PHP callstack is only visible in dev/qa"}, "error": {"type": "string", "enum": ["method_not_supported_for_channel_type", "last_member", "missing_scope", "channel_not_found", "is_archived", "cant_leave_general", "not_authed", "invalid_auth", "account_inactive", "user_is_bot", "user_is_restricted", "user_is_ultra_restricted", "invalid_arg_name", "invalid_array_arg", "invalid_charset", "invalid_form_data", "invalid_post_type", "missing_post_type", "invalid_json", "json_not_object", "request_timeout", "upgrade_required", "team_added_to_org", "missing_charset", "superfluous_charset"]}, "needed": {"type": "string"}, "ok": {"$ref": "#/components/schemas/defs_ok_false"}, "provided": {"type": "string"}}, "description": "Schema for error response from conversations.leave method"}, "example": {"error": "cant_leave_general", "ok": false}}}}}, "security": [{"slackAuth": ["channels:write", "groups:write", "im:write", "mpim:write"]}]}}, "/conversations.list": {"get": {"tags": ["conversations"], "description": "Lists all channels in a Slack team.", "externalDocs": {"description": "API method documentation", "url": "https://api.slack.com/methods/conversations.list"}, "operationId": "conversations_list", "parameters": [{"name": "token", "in": "query", "description": "Authentication token. Requires scope: `conversations:read`", "required": true, "schema": {"type": "string"}}, {"name": "exclude_archived", "in": "query", "description": "Set to `true` to exclude archived channels from the list", "schema": {"type": "boolean"}}, {"name": "types", "in": "query", "description": "Mix and match channel types by providing a comma-separated list of any combination of `public_channel`, `private_channel`, `mpim`, `im`", "schema": {"type": "string"}}, {"name": "limit", "in": "query", "description": "The maximum number of items to return. Fewer than the requested number of items may be returned, even if the end of the list hasn't been reached. Must be an integer no larger than 1000.", "schema": {"type": "integer"}}, {"name": "cursor", "in": "query", "description": "Paginate through collections of data by setting the `cursor` parameter to a `next_cursor` attribute returned by a previous request's `response_metadata`. Default value fetches the first \"page\" of the collection. See [pagination](/docs/pagination) for more detail.", "schema": {"type": "string"}}], "responses": {"200": {"description": "Typical success response with only public channels", "content": {"application/json": {"schema": {"title": "conversations.list success schema", "required": ["channels", "ok"], "type": "object", "properties": {"channels": {"uniqueItems": true, "type": "array", "items": {"$ref": "#/components/schemas/objs_conversation"}}, "ok": {"$ref": "#/components/schemas/defs_ok_true"}, "response_metadata": {"required": ["next_cursor"], "type": "object", "properties": {"next_cursor": {"type": "string"}}}}, "description": "Schema for successful response from conversations.list method"}, "example": {"channels": [{"created": 1449252889, "creator": "U012A3CDE", "id": "C012AB3CD", "is_archived": false, "is_channel": true, "is_ext_shared": false, "is_general": true, "is_group": false, "is_im": false, "is_member": true, "is_mpim": false, "is_org_shared": false, "is_pending_ext_shared": false, "is_private": false, "is_shared": false, "name": "general", "name_normalized": "general", "num_members": 4, "pending_shared": [], "previous_names": [], "purpose": {"creator": "", "last_set": 0, "value": "This channel is for team-wide communication and announcements. All team members are in this channel."}, "topic": {"creator": "", "last_set": 0, "value": "Company-wide announcements and work-based matters"}, "unlinked": 0}, {"created": 1449252889, "creator": "U061F7AUR", "id": "C061EG9T2", "is_archived": false, "is_channel": true, "is_ext_shared": false, "is_general": false, "is_group": false, "is_im": false, "is_member": true, "is_mpim": false, "is_org_shared": false, "is_pending_ext_shared": false, "is_private": false, "is_shared": false, "name": "random", "name_normalized": "random", "num_members": 4, "pending_shared": [], "previous_names": [], "purpose": {"creator": "", "last_set": 0, "value": "A place for non-work-related flimflam, faffing, hodge-podge or jibber-jabber you'd prefer to keep out of more focused work-related channels."}, "topic": {"creator": "", "last_set": 0, "value": "Non-work banter and water cooler conversation"}, "unlinked": 0}], "ok": true, "response_metadata": {"next_cursor": "dGVhbTpDMDYxRkE1UEI="}}}}}, "default": {"description": "Typical error response", "content": {"application/json": {"schema": {"title": "conversations.list error schema", "required": ["error", "ok"], "type": "object", "properties": {"callstack": {"type": "string", "description": "Note: PHP callstack is only visible in dev/qa"}, "error": {"type": "string", "enum": ["missing_scope", "not_authed", "invalid_auth", "account_inactive", "invalid_arg_name", "invalid_array_arg", "invalid_charset", "invalid_form_data", "invalid_post_type", "missing_post_type", "invalid_json", "json_not_object", "request_timeout", "upgrade_required"]}, "needed": {"type": "string"}, "ok": {"$ref": "#/components/schemas/defs_ok_false"}, "provided": {"type": "string"}}, "description": "Schema for error response from conversations.list method"}, "example": {"error": "invalid_auth", "ok": false}}}}}, "security": [{"slackAuth": ["channels:read", "groups:read", "im:read", "mpim:read"]}]}}, "/conversations.mark": {"post": {"tags": ["conversations"], "description": "Sets the read cursor in a channel.", "externalDocs": {"description": "API method documentation", "url": "https://api.slack.com/methods/conversations.mark"}, "operationId": "conversations_mark", "parameters": [{"name": "token", "in": "header", "description": "Authentication token. Requires scope: `conversations:write`", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/x-www-form-urlencoded": {"schema": {"required": ["channel", "ts"], "properties": {"channel": {"type": "string", "description": "Channel or conversation to set the read cursor for."}, "ts": {"type": "number", "description": "Unique identifier of message you want marked as most recently seen in this conversation."}}}}, "application/json": {"schema": {"required": ["channel", "ts"], "properties": {"channel": {"type": "string", "description": "Channel or conversation to set the read cursor for."}, "ts": {"type": "number", "description": "Unique identifier of message you want marked as most recently seen in this conversation."}}}}}, "required": true}, "responses": {"200": {"description": "Typical success response", "content": {"application/json": {"schema": {"title": "conversations.mark success schema", "required": ["ok"], "type": "object", "properties": {"ok": {"$ref": "#/components/schemas/defs_ok_true"}}, "description": "Schema for successful response conversations.mark method"}, "example": {"ok": true}}}}, "default": {"description": "Typical error response", "content": {"application/json": {"schema": {"title": "conversations.mark error schema", "required": ["error", "ok"], "type": "object", "properties": {"callstack": {"type": "string", "description": "Note: PHP callstack is only visible in dev/qa"}, "error": {"type": "string", "enum": ["method_not_supported_for_channel_type", "missing_scope", "channel_not_found", "invalid_timestamp", "not_in_channel", "not_authed", "invalid_auth", "account_inactive", "invalid_arg_name", "invalid_array_arg", "invalid_charset", "invalid_form_data", "invalid_post_type", "missing_post_type", "invalid_json", "json_not_object", "request_timeout", "upgrade_required", "not_allowed_token_type"]}, "needed": {"type": "string"}, "ok": {"$ref": "#/components/schemas/defs_ok_false"}, "provided": {"type": "string"}}, "description": "Schema for error response from conversations.mark method"}, "example": {"error": "invalid_auth", "ok": false}}}}}, "security": [{"slackAuth": ["channels:write", "groups:write", "im:write", "mpim:write"]}]}}, "/conversations.members": {"get": {"tags": ["conversations"], "description": "Retrieve members of a conversation.", "externalDocs": {"description": "API method documentation", "url": "https://api.slack.com/methods/conversations.members"}, "operationId": "conversations_members", "parameters": [{"name": "token", "in": "query", "description": "Authentication token. Requires scope: `conversations:read`", "required": true, "schema": {"type": "string"}}, {"name": "channel", "in": "query", "description": "ID of the conversation to retrieve members for", "required": true, "schema": {"type": "string"}}, {"name": "limit", "in": "query", "description": "The maximum number of items to return. Fewer than the requested number of items may be returned, even if the end of the users list hasn't been reached.", "schema": {"type": "integer"}}, {"name": "cursor", "in": "query", "description": "Paginate through collections of data by setting the `cursor` parameter to a `next_cursor` attribute returned by a previous request's `response_metadata`. Default value fetches the first \"page\" of the collection. See [pagination](/docs/pagination) for more detail.", "schema": {"type": "string"}}], "responses": {"200": {"description": "Typical paginated success response", "content": {"application/json": {"schema": {"title": "conversations.members success schema", "required": ["members", "ok", "response_metadata"], "type": "object", "properties": {"members": {"minItems": 1, "uniqueItems": true, "type": "array", "items": {"$ref": "#/components/schemas/defs_user_id"}}, "ok": {"$ref": "#/components/schemas/defs_ok_true"}, "response_metadata": {"required": ["next_cursor"], "type": "object", "properties": {"next_cursor": {"type": "string"}}}}, "description": "Schema for successful response conversations.members method"}, "example": {"members": ["U023BECGF", "U061F7AUR", "W012A3CDE"], "ok": true, "response_metadata": {"next_cursor": "e3VzZXJfaWQ6IFcxMjM0NTY3fQ=="}}}}}, "default": {"description": "Typical error response when an invalid cursor is provided", "content": {"application/json": {"schema": {"title": "conversations.members error schema", "required": ["error", "ok"], "type": "object", "properties": {"callstack": {"type": "string", "description": "Note: PHP callstack is only visible in dev/qa"}, "error": {"type": "string", "enum": ["channel_not_found", "invalid_limit", "invalid_cursor", "fetch_members_failed", "not_authed", "invalid_auth", "account_inactive", "invalid_arg_name", "invalid_array_arg", "invalid_charset", "invalid_form_data", "invalid_post_type", "missing_post_type", "team_added_to_org", "invalid_json", "json_not_object", "request_timeout", "upgrade_required"]}, "ok": {"$ref": "#/components/schemas/defs_ok_false"}}, "description": "Schema for error response conversations.members method"}, "example": {"error": "invalid_cursor", "ok": false}}}}}, "security": [{"slackAuth": ["channels:read", "groups:read", "im:read", "mpim:read"]}]}}, "/conversations.open": {"post": {"tags": ["conversations"], "description": "Opens or resumes a direct message or multi-person direct message.", "externalDocs": {"description": "API method documentation", "url": "https://api.slack.com/methods/conversations.open"}, "operationId": "conversations_open", "parameters": [{"name": "token", "in": "header", "description": "Authentication token. Requires scope: `conversations:write`", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/x-www-form-urlencoded": {"schema": {"properties": {"channel": {"type": "string", "description": "Resume a conversation by supplying an `im` or `mpim`'s ID. Or provide the `users` field instead."}, "users": {"type": "string", "description": "Comma separated lists of users. If only one user is included, this creates a 1:1 DM.  The ordering of the users is preserved whenever a multi-person direct message is returned. Supply a `channel` when not supplying `users`."}, "return_im": {"type": "boolean", "description": "Boolean, indicates you want the full IM channel definition in the response."}}}}, "application/json": {"schema": {"properties": {"channel": {"type": "string", "description": "Resume a conversation by supplying an `im` or `mpim`'s ID. Or provide the `users` field instead."}, "users": {"type": "string", "description": "Comma separated lists of users. If only one user is included, this creates a 1:1 DM.  The ordering of the users is preserved whenever a multi-person direct message is returned. Supply a `channel` when not supplying `users`."}, "return_im": {"type": "boolean", "description": "Boolean, indicates you want the full IM channel definition in the response."}}}}}}, "responses": {"200": {"description": "Typical success response", "content": {"application/json": {"schema": {"title": "conversations.open success schema", "required": ["channel", "ok"], "type": "object", "properties": {"already_open": {"type": "boolean"}, "channel": {"oneOf": [{"$ref": "#/components/schemas/objs_conversation"}, {"$ref": "#/components/schemas/obj_ref_13"}]}, "no_op": {"type": "boolean"}, "ok": {"$ref": "#/components/schemas/defs_ok_true"}}, "description": "Schema for successful response from conversations.open method when opening channels, ims, mpims"}, "example": {"channel": {"id": "D069C7QFK"}, "ok": true}}}}, "default": {"description": "Typical error response", "content": {"application/json": {"schema": {"title": "conversations.open error schema", "required": ["error", "ok"], "type": "object", "properties": {"callstack": {"type": "string", "description": "Note: PHP callstack is only visible in dev/qa"}, "error": {"type": "string", "enum": ["method_not_supported_for_channel_type", "user_not_found", "user_not_visible", "user_disabled", "users_list_not_supplied", "not_enough_users", "too_many_users", "invalid_user_combination", "not_authed", "invalid_auth", "account_inactive", "invalid_arg_name", "invalid_array_arg", "invalid_charset", "invalid_form_data", "invalid_post_type", "missing_post_type", "team_added_to_org", "invalid_json", "json_not_object", "request_timeout", "upgrade_required", "channel_not_found"]}, "ok": {"$ref": "#/components/schemas/defs_ok_false"}}, "description": "Schema for error response from conversations.open method"}, "example": {"error": "channel_not_found", "ok": false}}}}}, "security": [{"slackAuth": ["channels:write", "groups:write", "im:write", "mpim:write"]}]}}, "/conversations.rename": {"post": {"tags": ["conversations"], "description": "Renames a conversation.", "externalDocs": {"description": "API method documentation", "url": "https://api.slack.com/methods/conversations.rename"}, "operationId": "conversations_rename", "parameters": [{"name": "token", "in": "header", "description": "Authentication token. Requires scope: `conversations:write`", "required": true, "schema": {"type": "string"}}], "requestBody": {"content": {"application/x-www-form-urlencoded": {"schema": {"required": ["channel", "name"], "properties": {"channel": {"type": "string", "description": "ID of conversation to rename"}, "name": {"type": "string", "description": "New name for conversation."}}}}, "application/json": {"schema": {"required": ["channel", "name"], "properties": {"channel": {"type": "string", "description": "ID of conversation to rename"}, "name": {"type": "string", "description": "New name for conversation."}}}}}, "required": true}, "responses": {"200": {"description": "Typical success response", "content": {"application/json": {"schema": {"title": "conversations.rename success schema", "required": ["channel", "ok"], "type": "object", "properties": {"channel": {"$ref": "#/components/schemas/objs_conversation"}, "ok": {"$ref": "#/components/schemas/defs_ok_true"}}, "description": "Schema for successful response from conversations.rename method"}, "example": {"channel": {"created": 1449252889, "creator": "W012A3BCD", "id": "C012AB3CD", "is_archived": false, "is_channel": true, "is_ext_shared": false, "is_general": true, "is_group": false, "is_im": false, "is_member": true, "is_mpim": false, "is_org_shared": false, "is_pending_ext_shared": false, "is_private": false, "is_read_only": false, "is_shared": false, "last_read": "1502126650.228446", "locale": "en-US", "name": "general", "name_normalized": "general", "num_members": 23, "pending_shared": [], "previous_names": ["specifics", "abstractions", "etc"], "purpose": {"creator": "W012A3BCD", "last_set": 1449709364, "value": "This part of the workspace is for fun. Make fun here."}, "topic": {"creator": "W012A3BCD", "last_set": 1449709364, "value": "For public discussion of generalities"}, "unlinked": 0}, "ok": true}}}}, "default": {"description": "Typical error response when the calling user is not a member of the conversation", "content": {"application/json": {"schema": {"title": "conversations.rename error schema", "required": ["error", "ok"], "type": "object", "properties": {"callstack": {"type": "string", "description": "Note: PHP callstack is only visible in dev/qa"}, "error": {"type": "string", "enum": ["user_is_restricted", "method_not_supported_for_channel_type", "missing_scope", "channel_not_found", "not_in_channel", "not_authorized", "invalid_name", "name_taken", "invalid_name_required", "invalid_name_punctuation", "invalid_name_maxlength", "invalid_name_specials", "not_authed", "invalid_auth", "account_inactive", "invalid_arg_name", "invalid_array_arg", "invalid_charset", "invalid_form_data", "invalid_post_type", "missing_post_type", "invalid_json", "json_not_object", "request_timeout", "upgrade_required"]}, "needed": {"type": "string"}, "ok": {"$ref": "#/components/schemas/defs_ok_false"}, "provided": {"type": "string"}}, "description": "Schema for error response from conversations.rename method"}, "example": {"error": "not_in_channel", "ok": false}}}}}, "security": [{"slackAuth": ["channels:write", "groups:write", "im:write", "mpim:write"]}]}}, "/conversations.replies": {"get": {"tags": ["conversations"], "description": "Retrieve a thread of messages posted to a conversation", "externalDocs": {"description": "API method documentation", "url": "https://api.slack.com/methods/conversations.replies"}, "operationId": "conversations_replies", "parameters": [{"name": "token", "in": "query", "description": "Authentication token. Requires scope: `conversations:history`", "required": true, "schema": {"type": "string"}}, {"name": "channel", "in": "query", "description": "Conversation ID to fetch thread from.", "required": true, "schema": {"type": "string"}}, {"name": "ts", "in": "query", "description": "Unique identifier of a thread's parent message. `ts` must be the timestamp of an existing message with 0 or more replies. If there are no replies then just the single message referenced by `ts` will return - it is just an ordinary, unthreaded message.", "required": true, "schema": {"type": "number"}}, {"name": "latest", "in": "query", "description": "End of time range of messages to include in results.", "schema": {"type": "number"}}, {"name": "oldest", "in": "query", "description": "Start of time range of messages to include in results.", "schema": {"type": "number"}}, {"name": "inclusive", "in": "query", "description": "Include messages with latest or oldest timestamp in results only when either timestamp is specified.", "schema": {"type": "boolean"}}, {"name": "limit", "in": "query", "description": "The maximum number of items to return. Fewer than the requested number of items may be returned, even if the end of the users list hasn't been reached.", "schema": {"type": "integer"}}, {"name": "cursor", "in": "query", "description": "Paginate through collections of data by setting the `cursor` parameter to a `next_cursor` attribute returned by a previous request's `response_metadata`. Default value fetches the first \"page\" of the collection. See [pagination](/docs/pagination) for more detail.", "schema": {"type": "string"}}], "responses": {"200": {"description": "Typical success response", "content": {"application/json": {"schema": {"title": "conversations.replies success schema", "required": ["messages", "ok"], "type": "object", "properties": {"has_more": {"type": "boolean"}, "messages": {"type": "array", "items": {"oneOf": [{"$ref": "#/components/schemas/obj_ref_14"}, {"$ref": "#/components/schemas/obj_ref_15"}]}}, "ok": {"$ref": "#/components/schemas/defs_ok_true"}}, "description": "Schema for successful response from conversations.replies method"}, "example": {"has_more": true, "messages": [{"last_read": "1484678597.521003", "reply_count": 3, "subscribed": true, "text": "island", "thread_ts": "1482960137.003543", "ts": "1482960137.003543", "type": "message", "unread_count": 0, "user": "U061F7AUR"}, {"parent_user_id": "U061F7AUR", "text": "one island", "thread_ts": "1482960137.003543", "ts": "1483037603.017503", "type": "message", "user": "U061F7AUR"}, {"parent_user_id": "U061F7AUR", "text": "two island", "thread_ts": "1482960137.003543", "ts": "1483051909.018632", "type": "message", "user": "U061F7AUR"}, {"parent_user_id": "U061F7AUR", "text": "three for the land", "thread_ts": "1482960137.003543", "ts": "1483125339.020269", "type": "message", "user": "U061F7AUR"}], "ok": true, "response_metadata": {"next_cursor": "bmV4dF90czoxNDg0Njc4MjkwNTE3MDkx"}}}}}, "default": {"description": "Typical error response", "content": {"application/json": {"schema": {"title": "conversations.replies error schema", "required": ["error", "ok"], "type": "object", "properties": {"callstack": {"type": "string", "description": "Note: PHP callstack is only visible in dev/qa"}, "error": {"type": "string", "enum": ["missing_scope", "channel_not_found", "thread_not_found", "not_authed", "invalid_auth", "account_inactive", "invalid_arg_name", "invalid_array_arg", "invalid_charset", "invalid_form_data", "invalid_post_type", "missing_post_type", "team_added_to_org", "invalid_json", "json_not_object", "request_timeout", "upgrade_required"]}, "needed": {"type": "string"}, "ok": {"$ref": "#/components/schemas/defs_ok_false"}, "provided": {"type": "string"}}, "description": "Schema for error response from conversations.replies method"}, "example": {"error": "thread_not_found", "ok": false}}}}}, "security": [{"slackAuth": ["channels:history", "groups:history", "im:history", "mpim:history"]}]}}, "/conversations.setPurpose": {"post": {"tags": ["conversations"], "description": "Sets the purpose for a conversation.", "externalDocs": {"description": "API method documentation", "url": "https://api.slack.com/methods/conversations.setPurpose"}, "operationId": "conversations_setPurpose", "parameters": [{"name": "token",
[...]
