{
    "openapi": "3.0.1",
    "info": {
        "title": "Slack Web API",
        "description": "One way to interact with the Slack platform is its HTTP RPC-based Web API, a collection of methods requiring OAuth 2.0-based user, bot, or workspace tokens blessed with related OAuth scopes.",
        "contact": {
            "name": "Slack developer relations",
            "url": "https://api.slack.com/support"
        },
        "version": "1.7.0"
    },
    "externalDocs": {
        "description": "Learn more about the Slack Web API",
        "url": "https://api.slack.com/web"
    },
    "servers": [
        {
            "url": "https://slack.com/api"
        }
    ],
    "tags": [],
    "paths": {
        "/chat.postMessage": {
            "post": {
                "tags": [
                    "chat"
                ],
                "description": "Sends a message to a channel.",
                "externalDocs": {
                    "description": "API method documentation",
                    "url": "https://api.slack.com/methods/chat.postMessage"
                },
                "operationId": "chat_postMessage",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "description": "Authentication token. Requires scope: `chat:write`",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "channel",
                                    "text"
                                ],
                                "properties": {
                                    "as_user": {
                                        "type": "string",
                                        "description": "Pass true to post the message as the authed user, instead of as a bot. Defaults to false. See [authorship](#authorship) below."
                                    },
                                    "attachments": {
                                        "type": "string",
                                        "description": "A JSON-based array of structured attachments, presented as a URL-encoded string."
                                    },
                                    "blocks": {
                                        "type": "string",
                                        "description": "A JSON-based array of structured blocks, presented as a URL-encoded string."
                                    },
                                    "channel": {
                                        "type": "string",
                                        "description": "Channel, private group, or IM channel to send message to. Can be an encoded ID, or a name. See [below](#channels) for more details."
                                    },
                                    "icon_emoji": {
                                        "type": "string",
                                        "description": "Emoji to use as the icon for this message. Overrides `icon_url`. Must be used in conjunction with `as_user` set to `false`, otherwise ignored. See [authorship](#authorship) below."
                                    },
                                    "icon_url": {
                                        "type": "string",
                                        "description": "URL to an image to use as the icon for this message. Must be used in conjunction with `as_user` set to false, otherwise ignored. See [authorship](#authorship) below."
                                    },
                                    "link_names": {
                                        "type": "boolean",
                                        "description": "Find and link channel names and usernames."
                                    },
                                    "mrkdwn": {
                                        "type": "boolean",
                                        "description": "Disable Slack markup parsing by setting to `false`. Enabled by default."
                                    },
                                    "parse": {
                                        "type": "string",
                                        "description": "Change how messages are treated. Defaults to `none`. See [below](#formatting)."
                                    },
                                    "reply_broadcast": {
                                        "type": "boolean",
                                        "description": "Used in conjunction with `thread_ts` and indicates whether reply should be made visible to everyone in the channel or conversation. Defaults to `false`."
                                    },
                                    "text": {
                                        "type": "string",
                                        "description": "How this field works and whether it is required depends on other fields you use in your API call. [See below](#text_usage) for more detail."
                                    },
                                    "thread_ts": {
                                        "type": "string",
                                        "description": "Provide another message's `ts` value to make this message a reply. Avoid using a reply's `ts` value; use its parent instead."
                                    },
                                    "unfurl_links": {
                                        "type": "boolean",
                                        "description": "Pass true to enable unfurling of primarily text-based content."
                                    },
                                    "unfurl_media": {
                                        "type": "boolean",
                                        "description": "Pass false to disable unfurling of media content."
                                    },
                                    "username": {
                                        "type": "string",
                                        "description": "Set your bot's user name. Must be used in conjunction with `as_user` set to false, otherwise ignored. See [authorship](#authorship) below."
                                    }
                                }
                            }
                        },
                        "application/json": {
                            "schema": {
                                "required": [
                                    "channel",
                                    "text"
                                ],
                                "properties": {
                                    "as_user": {
                                        "type": "string",
                                        "description": "Pass true to post the message as the authed user, instead of as a bot. Defaults to false. See [authorship](#authorship) below."
                                    },
                                    "attachments": {
                                        "type": "string",
                                        "description": "A JSON-based array of structured attachments, presented as a URL-encoded string."
                                    },
                                    "blocks": {
                                        "type": "string",
                                        "description": "A JSON-based array of structured blocks, presented as a URL-encoded string."
                                    },
                                    "channel": {
                                        "type": "string",
                                        "description": "Channel, private group, or IM channel to send message to. Can be an encoded ID, or a name. See [below](#channels) for more details."
                                    },
                                    "icon_emoji": {
                                        "type": "string",
                                        "description": "Emoji to use as the icon for this message. Overrides `icon_url`. Must be used in conjunction with `as_user` set to `false`, otherwise ignored. See [authorship](#authorship) below."
                                    },
                                    "icon_url": {
                                        "type": "string",
                                        "description": "URL to an image to use as the icon for this message. Must be used in conjunction with `as_user` set to false, otherwise ignored. See [authorship](#authorship) below."
                                    },
                                    "link_names": {
                                        "type": "boolean",
                                        "description": "Find and link channel names and usernames."
                                    },
                                    "mrkdwn": {
                                        "type": "boolean",
                                        "description": "Disable Slack markup parsing by setting to `false`. Enabled by default."
                                    },
                                    "parse": {
                                        "type": "string",
                                        "description": "Change how messages are treated. Defaults to `none`. See [below](#formatting)."
                                    },
                                    "reply_broadcast": {
                                        "type": "boolean",
                                        "description": "Used in conjunction with `thread_ts` and indicates whether reply should be made visible to everyone in the channel or conversation. Defaults to `false`."
                                    },
                                    "text": {
                                        "type": "string",
                                        "description": "How this field works and whether it is required depends on other fields you use in your API call. [See below](#text_usage) for more detail."
                                    },
                                    "thread_ts": {
                                        "type": "string",
                                        "description": "Provide another message's `ts` value to make this message a reply. Avoid using a reply's `ts` value; use its parent instead."
                                    },
                                    "unfurl_links": {
                                        "type": "boolean",
                                        "description": "Pass true to enable unfurling of primarily text-based content."
                                    },
                                    "unfurl_media": {
                                        "type": "boolean",
                                        "description": "Pass false to disable unfurling of media content."
                                    },
                                    "username": {
                                        "type": "string",
                                        "description": "Set your bot's user name. Must be used in conjunction with `as_user` set to false, otherwise ignored. See [authorship](#authorship) below."
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Typical success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "chat.postMessage success schema",
                                    "required": [
                                        "channel",
                                        "message",
                                        "ok",
                                        "ts"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "channel": {
                                            "$ref": "#/components/schemas/defs_channel"
                                        },
                                        "message": {
                                            "$ref": "#/components/schemas/objs_message"
                                        },
                                        "ok": {
                                            "$ref": "#/components/schemas/defs_ok_true"
                                        },
                                        "ts": {
                                            "$ref": "#/components/schemas/defs_ts"
                                        }
                                    },
                                    "description": "Schema for successful response of chat.postMessage method"
                                },
                                "example": {
                                    "channel": "C1H9RESGL",
                                    "message": {
                                        "attachments": [
                                            {
                                                "fallback": "This is an attachment's fallback",
                                                "id": 1,
                                                "text": "This is an attachment"
                                            }
                                        ],
                                        "bot_id": "B19LU7CSY",
                                        "subtype": "bot_message",
                                        "text": "Here's a message for you",
                                        "ts": "1503435956.000247",
                                        "type": "message",
                                        "username": "ecto1"
                                    },
                                    "ok": true,
                                    "ts": "1503435956.000247"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Typical error response if too many attachments are included",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "chat.postMessage error schema",
                                    "required": [
                                        "error",
                                        "ok"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "callstack": {
                                            "type": "string",
                                            "description": "Note: PHP callstack is only visible in dev/qa"
                                        },
                                        "error": {
                                            "type": "string",
                                            "enum": [
                                                "channel_not_found",
                                                "not_in_channel",
                                                "is_archived",
                                                "msg_too_long",
                                                "no_text",
                                                "too_many_attachments",
                                                "rate_limited",
                                                "not_authed",
                                                "invalid_auth",
                                                "account_inactive",
                                                "invalid_arg_name",
                                                "invalid_array_arg",
                                                "invalid_charset",
                                                "invalid_form_data",
                                                "invalid_post_type",
                                                "missing_post_type"
                                            ]
                                        },
                                        "ok": {
                                            "$ref": "#/components/schemas/defs_ok_false"
                                        }
                                    },
                                    "description": "Schema for error response chat.postMessage method"
                                },
                                "example": {
                                    "error": "too_many_attachments",
                                    "ok": false
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "slackAuth": [
                            "chat:write:user",
                            "chat:write:bot"
                        ]
                    }
                ]
            }
        },
        "/conversations.history": {
            "get": {
                "tags": [
                    "conversations"
                ],
                "description": "Fetches a conversation's history of messages and events.",
                "externalDocs": {
                    "description": "API method documentation",
                    "url": "https://api.slack.com/methods/conversations.history"
                },
                "operationId": "conversations_history",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Authentication token. Requires scope: `conversations:history`",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "channel",
                        "in": "query",
                        "description": "Conversation ID to fetch history for.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "latest",
                        "in": "query",
                        "description": "End of time range of messages to include in results.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "oldest",
                        "in": "query",
                        "description": "Start of time range of messages to include in results.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "inclusive",
                        "in": "query",
                        "description": "Include messages with latest or oldest timestamp in results only when either timestamp is specified.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of items to return. Fewer than the requested number of items may be returned, even if the end of the users list hasn't been reached.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "Paginate through collections of data by setting the `cursor` parameter to a `next_cursor` attribute returned by a previous request's `response_metadata`. Default value fetches the first \"page\" of the collection. See [pagination](/docs/pagination) for more detail.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Typical success response containing a channel's messages",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "conversations.history success schema",
                                    "required": [
                                        "channel_actions_count",
                                        "channel_actions_ts",
                                        "has_more",
                                        "messages",
                                        "ok",
                                        "pin_count"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "channel_actions_count": {
                                            "type": "integer"
                                        },
                                        "channel_actions_ts": {
                                            "$ref": "#/components/schemas/obj_ref_12"
                                        },
                                        "has_more": {
                                            "type": "boolean"
                                        },
                                        "messages": {
                                            "minItems": 1,
                                            "uniqueItems": true,
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/objs_message"
                                            }
                                        },
                                        "ok": {
                                            "$ref": "#/components/schemas/defs_ok_true"
                                        },
                                        "pin_count": {
                                            "type": "integer"
                                        }
                                    },
                                    "description": "Schema for successful response from conversations.history method"
                                },
                                "example": {
                                    "has_more": true,
                                    "messages": [
                                        {
                                            "text": "I find you punny and would like to smell your nose letter",
                                            "ts": "1512085950.000216",
                                            "type": "message",
                                            "user": "U012AB3CDE"
                                        },
                                        {
                                            "text": "What, you want to smell my shoes better?",
                                            "ts": "1512104434.000490",
                                            "type": "message",
                                            "user": "U061F7AUR"
                                        }
                                    ],
                                    "ok": true,
                                    "pin_count": 0,
                                    "response_metadata": {
                                        "next_cursor": "bmV4dF90czoxNTEyMDg1ODYxMDAwNTQz"
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Typical error response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "conversations.history error schema",
                                    "required": [
                                        "error",
                                        "ok"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "callstack": {
                                            "type": "string",
                                            "description": "Note: PHP callstack is only visible in dev/qa"
                                        },
                                        "error": {
                                            "type": "string",
                                            "enum": [
                                                "missing_scope",
                                                "channel_not_found",
                                                "invalid_ts_latest",
                                                "invalid_ts_oldest",
                                                "not_authed",
                                                "invalid_auth",
                                                "account_inactive",
                                                "invalid_arg_name",
                                                "invalid_array_arg",
                                                "invalid_charset",
                                                "invalid_form_data",
                                                "invalid_post_type",
                                                "missing_post_type",
                                                "invalid_json",
                                                "json_not_object",
                                                "request_timeout",
                                                "upgrade_required"
                                            ]
                                        },
                                        "needed": {
                                            "type": "string"
                                        },
                                        "ok": {
                                            "$ref": "#/components/schemas/defs_ok_false"
                                        },
                                        "provided": {
                                            "type": "string"
                                        }
                                    },
                                    "description": "Schema for error response from conversations.history method"
                                },
                                "example": {
                                    "error": "channel_not_found",
                                    "ok": false
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "slackAuth": [
                            "channels:history",
                            "groups:history",
                            "im:history",
                            "mpim:history"
                        ]
                    }
                ]
            }
        },
        "/conversations.info": {
            "get": {
                "tags": [
                    "conversations"
                ],
                "description": "Retrieve information about a conversation.",
                "externalDocs": {
                    "description": "API method documentation",
                    "url": "https://api.slack.com/methods/conversations.info"
                },
                "operationId": "conversations_info",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Authentication token. Requires scope: `conversations:read`",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "channel",
                        "in": "query",
                        "description": "Conversation ID to learn more about",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "include_locale",
                        "in": "query",
                        "description": "Set this to `true` to receive the locale for this conversation. Defaults to `false`",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "include_num_members",
                        "in": "query",
                        "description": "Set to `true` to include the member count for the specified conversation. Defaults to `false`",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Typical success response for a public channel. (Also, a response from a private channel and a multi-party IM is very similar to this example.)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "conversations.info success schema",
                                    "required": [
                                        "channel",
                                        "ok"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "channel": {
                                            "$ref": "#/components/schemas/objs_conversation"
                                        },
                                        "ok": {
                                            "$ref": "#/components/schemas/defs_ok_true"
                                        }
                                    },
                                    "description": "Schema for successful response conversations.info"
                                },
                                "example": {
                                    "channel": {
                                        "created": 1449252889,
                                        "creator": "W012A3BCD",
                                        "id": "C012AB3CD",
                                        "is_archived": false,
                                        "is_channel": true,
                                        "is_ext_shared": false,
                                        "is_general": true,
                                        "is_group": false,
                                        "is_im": false,
                                        "is_member": true,
                                        "is_mpim": false,
                                        "is_org_shared": false,
                                        "is_pending_ext_shared": false,
                                        "is_private": false,
                                        "is_read_only": false,
                                        "is_shared": false,
                                        "last_read": "1502126650.228446",
                                        "locale": "en-US",
                                        "name": "general",
                                        "name_normalized": "general",
                                        "pending_shared": [],
                                        "previous_names": [
                                            "specifics",
                                            "abstractions",
                                            "etc"
                                        ],
                                        "purpose": {
                                            "creator": "W012A3BCD",
                                            "last_set": 1449709364,
                                            "value": "This part of the workspace is for fun. Make fun here."
                                        },
                                        "topic": {
                                            "creator": "W012A3BCD",
                                            "last_set": 1449709364,
                                            "value": "For public discussion of generalities"
                                        },
                                        "unlinked": 0
                                    },
                                    "ok": true
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Typical error response when a channel cannot be found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "conversations.info error schema",
                                    "required": [
                                        "error",
                                        "ok"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "callstack": {
                                            "type": "string",
                                            "description": "Note: PHP callstack is only visible in dev/qa"
                                        },
                                        "error": {
                                            "type": "string",
                                            "enum": [
                                                "missing_scope",
                                                "channel_not_found",
                                                "team_added_to_org",
                                                "not_authed",
                                                "invalid_auth",
                                                "account_inactive",
                                                "invalid_arg_name",
                                                "invalid_array_arg",
                                                "invalid_charset",
                                                "invalid_form_data",
                                                "invalid_post_type",
                                                "missing_post_type",
                                                "invalid_json",
                                                "json_not_object",
                                                "request_timeout",
                                                "upgrade_required"
                                            ]
                                        },
                                        "needed": {
                                            "type": "string"
                                        },
                                        "ok": {
                                            "$ref": "#/components/schemas/defs_ok_false"
                                        },
                                        "provided": {
                                            "type": "string"
                                        }
                                    },
                                    "description": "Schema for error response from conversations.info method"
                                },
                                "example": {
                                    "error": "channel_not_found",
                                    "ok": false
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "slackAuth": [
                            "channels:read",
                            "groups:read",
                            "im:read",
                            "mpim:read"
                        ]
                    }
                ]
            }
        },
        "/conversations.join": {
            "post": {
                "tags": [
                    "conversations"
                ],
                "description": "Joins an existing conversation.",
                "externalDocs": {
                    "description": "API method documentation",
                    "url": "https://api.slack.com/methods/conversations.join"
                },
                "operationId": "conversations_join",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "description": "Authentication token. Requires scope: `channels:write`",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "channel"
                                ],
                                "properties": {
                                    "channel": {
                                        "type": "string",
                                        "description": "ID of conversation to join"
                                    }
                                }
                            }
                        },
                        "application/json": {
                            "schema": {
                                "required": [
                                    "channel"
                                ],
                                "properties": {
                                    "channel": {
                                        "type": "string",
                                        "description": "ID of conversation to join"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Typical success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "conversations.join success schema",
                                    "required": [
                                        "channel",
                                        "ok"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "channel": {
                                            "$ref": "#/components/schemas/objs_conversation"
                                        },
                                        "ok": {
                                            "$ref": "#/components/schemas/defs_ok_true"
                                        },
                                        "response_metadata": {
                                            "title": "Response metadata",
                                            "type": "object",
                                            "properties": {
                                                "warnings": {
                                                    "minItems": 1,
                                                    "uniqueItems": true,
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "warning": {
                                            "type": "string"
                                        }
                                    },
                                    "description": "Schema for successful response from conversations.join method"
                                },
                                "example": {
                                    "channel": {
                                        "created": 1449252889,
                                        "creator": "U061F7AUR",
                                        "id": "C061EG9SL",
                                        "is_archived": false,
                                        "is_channel": true,
                                        "is_ext_shared": false,
                                        "is_general": true,
                                        "is_group": false,
                                        "is_im": false,
                                        "is_member": true,
                                        "is_mpim": false,
                                        "is_org_shared": false,
                                        "is_pending_ext_shared": false,
                                        "is_private": false,
                                        "is_shared": false,
                                        "name": "general",
                                        "name_normalized": "general",
                                        "pending_shared": [],
                                        "previous_names": [],
                                        "purpose": {
                                            "creator": "",
                                            "last_set": 0,
                                            "value": "For widget discussion"
                                        },
                                        "topic": {
                                            "creator": "",
                                            "last_set": 0,
                                            "value": "Which widget do you worry about?"
                                        },
                                        "unlinked": 0
                                    },
                                    "ok": true,
                                    "response_metadata": {
                                        "warnings": [
                                            "already_in_channel"
                                        ]
                                    },
                                    "warning": "already_in_channel"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Typical error response if the conversation is archived and cannot be joined",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "conversations.join error schema",
                                    "required": [
                                        "error",
                                        "ok"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "callstack": {
                                            "type": "string",
                                            "description": "Note: PHP callstack is only visible in dev/qa"
                                        },
                                        "error": {
                                            "type": "string",
                                            "enum": [
                                                "method_not_supported_for_channel_type",
                                                "missing_scope",
                                                "channel_not_found",
                                                "is_archived",
                                                "not_authed",
                                                "invalid_auth",
                                                "account_inactive",
                                                "user_is_bot",
                                                "user_is_restricted",
                                                "user_is_ultra_restricted",
                                                "invalid_arg_name",
                                                "invalid_array_arg",
                                                "invalid_charset",
                                                "invalid_form_data",
                                                "invalid_post_type",
                                                "missing_post_type",
                                                "invalid_json",
                                                "json_not_object",
                                                "request_timeout",
                                                "upgrade_required",
                                                "team_added_to_org",
                                                "missing_charset",
                                                "superfluous_charset"
                                            ]
                                        },
                                        "needed": {
                                            "type": "string"
                                        },
                                        "ok": {
                                            "$ref": "#/components/schemas/defs_ok_false"
                                        },
                                        "provided": {
                                            "type": "string"
                                        }
                                    },
                                    "description": "Schema for error response from conversations.join method"
                                },
                                "example": {
                                    "error": "is_archived",
                                    "ok": false
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "slackAuth": [
                            "channels:write"
                        ]
                    }
                ]
            }
        },
        "/conversations.list": {
            "get": {
                "tags": [
                    "conversations"
                ],
                "description": "Lists all channels in a Slack team.",
                "externalDocs": {
                    "description": "API method documentation",
                    "url": "https://api.slack.com/methods/conversations.list"
                },
                "operationId": "conversations_list",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Authentication token. Requires scope: `conversations:read`",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "exclude_archived",
                        "in": "query",
                        "description": "Set to `true` to exclude archived channels from the list",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "types",
                        "in": "query",
                        "description": "Mix and match channel types by providing a comma-separated list of any combination of `public_channel`, `private_channel`, `mpim`, `im`",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of items to return. Fewer than the requested number of items may be returned, even if the end of the list hasn't been reached. Must be an integer no larger than 1000.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "Paginate through collections of data by setting the `cursor` parameter to a `next_cursor` attribute returned by a previous request's `response_metadata`. Default value fetches the first \"page\" of the collection. See [pagination](/docs/pagination) for more detail.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Typical success response with only public channels",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "conversations.list success schema",
                                    "required": [
                                        "channels",
                                        "ok"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "channels": {
                                            "uniqueItems": true,
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/objs_conversation"
                                            }
                                        },
                                        "ok": {
                                            "$ref": "#/components/schemas/defs_ok_true"
                                        },
                                        "response_metadata": {
                                            "required": [
                                                "next_cursor"
                                            ],
                                            "type": "object",
                                            "properties": {
                                                "next_cursor": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    "description": "Schema for successful response from conversations.list method"
                                },
                                "example": {
                                    "channels": [
                                        {
                                            "created": 1449252889,
                                            "creator": "U012A3CDE",
                                            "id": "C012AB3CD",
                                            "is_archived": false,
                                            "is_channel": true,
                                            "is_ext_shared": false,
                                            "is_general": true,
                                            "is_group": false,
                                            "is_im": false,
                                            "is_member": true,
                                            "is_mpim": false,
                                            "is_org_shared": false,
                                            "is_pending_ext_shared": false,
                                            "is_private": false,
                                            "is_shared": false,
                                            "name": "general",
                                            "name_normalized": "general",
                                            "num_members": 4,
                                            "pending_shared": [],
                                            "previous_names": [],
                                            "purpose": {
                                                "creator": "",
                                                "last_set": 0,
                                                "value": "This channel is for team-wide communication and announcements. All team members are in this channel."
                                            },
                                            "topic": {
                                                "creator": "",
                                                "last_set": 0,
                                                "value": "Company-wide announcements and work-based matters"
                                            },
                                            "unlinked": 0
                                        },
                                        {
                                            "created": 1449252889,
                                            "creator": "U061F7AUR",
                                            "id": "C061EG9T2",
                                            "is_archived": false,
                                            "is_channel": true,
                                            "is_ext_shared": false,
                                            "is_general": false,
                                            "is_group": false,
                                            "is_im": false,
                                            "is_member": true,
                                            "is_mpim": false,
                                            "is_org_shared": false,
                                            "is_pending_ext_shared": false,
                                            "is_private": false,
                                            "is_shared": false,
                                            "name": "random",
                                            "name_normalized": "random",
                                            "num_members": 4,
                                            "pending_shared": [],
                                            "previous_names": [],
                                            "purpose": {
                                                "creator": "",
                                                "last_set": 0,
                                                "value": "A place for non-work-related flimflam, faffing, hodge-podge or jibber-jabber you'd prefer to keep out of more focused work-related channels."
                                            },
                                            "topic": {
                                                "creator": "",
                                                "last_set": 0,
                                                "value": "Non-work banter and water cooler conversation"
                                            },
                                            "unlinked": 0
                                        }
                                    ],
                                    "ok": true,
                                    "response_metadata": {
                                        "next_cursor": "dGVhbTpDMDYxRkE1UEI="
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Typical error response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "conversations.list error schema",
                                    "required": [
                                        "error",
                                        "ok"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "callstack": {
                                            "type": "string",
                                            "description": "Note: PHP callstack is only visible in dev/qa"
                                        },
                                        "error": {
                                            "type": "string",
                                            "enum": [
                                                "missing_scope",
                                                "not_authed",
                                                "invalid_auth",
                                                "account_inactive",
                                                "invalid_arg_name",
                                                "invalid_array_arg",
                                                "invalid_charset",
                                                "invalid_form_data",
                                                "invalid_post_type",
                                                "missing_post_type",
                                                "invalid_json",
                                                "json_not_object",
                                                "request_timeout",
                                                "upgrade_required"
                                            ]
                                        },
                                        "needed": {
                                            "type": "string"
                                        },
                                        "ok": {
                                            "$ref": "#/components/schemas/defs_ok_false"
                                        },
                                        "provided": {
                                            "type": "string"
                                        }
                                    },
                                    "description": "Schema for error response from conversations.list method"
                                },
                                "example": {
                                    "error": "invalid_auth",
                                    "ok": false
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "slackAuth": [
                            "channels:read",
                            "groups:read",
                            "im:read",
                            "mpim:read"
                        ]
                    }
                ]
            }
        },
        "/conversations.members": {
            "get": {
                "tags": [
                    "conversations"
                ],
                "description": "Retrieve members of a conversation.",
                "externalDocs": {
                    "description": "API method documentation",
                    "url": "https://api.slack.com/methods/conversations.members"
                },
                "operationId": "conversations_members",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Authentication token. Requires scope: `conversations:read`",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "channel",
                        "in": "query",
                        "description": "ID of the conversation to retrieve members for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of items to return. Fewer than the requested number of items may be returned, even if the end of the users list hasn't been reached.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "Paginate through collections of data by setting the `cursor` parameter to a `next_cursor` attribute returned by a previous request's `response_metadata`. Default value fetches the first \"page\" of the collection. See [pagination](/docs/pagination) for more detail.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Typical paginated success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "conversations.members success schema",
                                    "required": [
                                        "members",
                                        "ok",
                                        "response_metadata"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "members": {
                                            "minItems": 1,
                                            "uniqueItems": true,
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/defs_user_id"
                                            }
                                        },
                                        "ok": {
                                            "$ref": "#/components/schemas/defs_ok_true"
                                        },
                                        "response_metadata": {
                                            "required": [
                                                "next_cursor"
                                            ],
                                            "type": "object",
                                            "properties": {
                                                "next_cursor": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    "description": "Schema for successful response conversations.members method"
                                },
                                "example": {
                                    "members": [
                                        "U023BECGF",
                                        "U061F7AUR",
                                        "W012A3CDE"
                                    ],
                                    "ok": true,
                                    "response_metadata": {
                                        "next_cursor": "e3VzZXJfaWQ6IFcxMjM0NTY3fQ=="
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Typical error response when an invalid cursor is provided",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "conversations.members error schema",
                                    "required": [
                                        "error",
                                        "ok"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "callstack": {
                                            "type": "string",
                                            "description": "Note: PHP callstack is only visible in dev/qa"
                                        },
                                        "error": {
                                            "type": "string",
                                            "enum": [
                                                "channel_not_found",
                                                "invalid_limit",
                                                "invalid_cursor",
                                                "fetch_members_failed",
                                                "not_authed",
                                                "invalid_auth",
                                                "account_inactive",
                                                "invalid_arg_name",
                                                "invalid_array_arg",
                                                "invalid_charset",
                                                "invalid_form_data",
                                                "invalid_post_type",
                                                "missing_post_type",
                                                "team_added_to_org",
                                                "invalid_json",
                                                "json_not_object",
                                                "request_timeout",
                                                "upgrade_required"
                                            ]
                                        },
                                        "ok": {
                                            "$ref": "#/components/schemas/defs_ok_false"
                                        }
                                    },
                                    "description": "Schema for error response conversations.members method"
                                },
                                "example": {
                                    "error": "invalid_cursor",
                                    "ok": false
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "slackAuth": [
                            "channels:read",
                            "groups:read",
                            "im:read",
                            "mpim:read"
                        ]
                    }
                ]
            }
        },
        "/conversations.open": {
            "post": {
                "tags": [
                    "conversations"
                ],
                "description": "Opens or resumes a direct message or multi-person direct message.",
                "externalDocs": {
                    "description": "API method documentation",
                    "url": "https://api.slack.com/methods/conversations.open"
                },
                "operationId": "conversations_open",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "description": "Authentication token. Requires scope: `conversations:write`",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "properties": {
                                    "channel": {
                                        "type": "string",
                                        "description": "Resume a conversation by supplying an `im` or `mpim`'s ID. Or provide the `users` field instead."
                                    },
                                    "users": {
                                        "type": "string",
                                        "description": "Comma separated lists of users. If only one user is included, this creates a 1:1 DM.  The ordering of the users is preserved whenever a multi-person direct message is returned. Supply a `channel` when not supplying `users`."
                                    },
                                    "return_im": {
                                        "type": "boolean",
                                        "description": "Boolean, indicates you want the full IM channel definition in the response."
                                    }
                                }
                            }
                        },
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "channel": {
                                        "type": "string",
                                        "description": "Resume a conversation by supplying an `im` or `mpim`'s ID. Or provide the `users` field instead."
                                    },
                                    "users": {
                                        "type": "string",
                                        "description": "Comma separated lists of users. If only one user is included, this creates a 1:1 DM.  The ordering of the users is preserved whenever a multi-person direct message is returned. Supply a `channel` when not supplying `users`."
                                    },
                                    "return_im": {
                                        "type": "boolean",
                                        "description": "Boolean, indicates you want the full IM channel definition in the response."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Typical success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "conversations.open success schema",
                                    "required": [
                                        "channel",
                                        "ok"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "already_open": {
                                            "type": "boolean"
                                        },
                                        "channel": {
                                            "oneOf": [
                                                {
                                                    "$ref": "#/components/schemas/objs_conversation"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/obj_ref_13"
                                                }
                                            ]
                                        },
                                        "no_op": {
                                            "type": "boolean"
                                        },
                                        "ok": {
                                            "$ref": "#/components/schemas/defs_ok_true"
                                        }
                                    },
                                    "description": "Schema for successful response from conversations.open method when opening channels, ims, mpims"
                                },
                                "example": {
                                    "channel": {
                                        "id": "D069C7QFK"
                                    },
                                    "ok": true
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Typical error response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "conversations.open error schema",
                                    "required": [
                                        "error",
                                        "ok"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "callstack": {
                                            "type": "string",
                                            "description": "Note: PHP callstack is only visible in dev/qa"
                                        },
                                        "error": {
                                            "type": "string",
                                            "enum": [
                                                "method_not_supported_for_channel_type",
                                                "user_not_found",
                                                "user_not_visible",
                                                "user_disabled",
                                                "users_list_not_supplied",
                                                "not_enough_users",
                                                "too_many_users",
                                                "invalid_user_combination",
                                                "not_authed",
                                                "invalid_auth",
                                                "account_inactive",
                                                "invalid_arg_name",
                                                "invalid_array_arg",
                                                "invalid_charset",
                                                "invalid_form_data",
                                                "invalid_post_type",
                                                "missing_post_type",
                                                "team_added_to_org",
                                                "invalid_json",
                                                "json_not_object",
                                                "request_timeout",
                                                "upgrade_required",
                                                "channel_not_found"
                                            ]
                                        },
                                        "ok": {
                                            "$ref": "#/components/schemas/defs_ok_false"
                                        }
                                    },
                                    "description": "Schema for error response from conversations.open method"
                                },
                                "example": {
                                    "error": "channel_not_found",
                                    "ok": false
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "slackAuth": [
                            "channels:write",
                            "groups:write",
                            "im:write",
                            "mpim:write"
                        ]
                    }
                ]
            }
        },
        "/users.conversations": {
            "get": {
                "tags": [
                    "users"
                ],
                "description": "List conversations the calling user may access.",
                "externalDocs": {
                    "description": "API method documentation",
                    "url": "https://api.slack.com/methods/users.conversations"
                },
                "operationId": "users_conversations",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Authentication token. Requires scope: `conversations:read`",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "user",
                        "in": "query",
                        "description": "Browse conversations by a specific user ID's membership. Non-public channels are restricted to those where the calling user shares membership.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "types",
                        "in": "query",
                        "description": "Mix and match channel types by providing a comma-separated list of any combination of `public_channel`, `private_channel`, `mpim`, `im`",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "exclude_archived",
                        "in": "query",
                        "description": "Set to `true` to exclude archived channels from the list",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of items to return. Fewer than the requested number of items may be returned, even if the end of the list hasn't been reached. Must be an integer no larger than 1000.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "Paginate through collections of data by setting the `cursor` parameter to a `next_cursor` attribute returned by a previous request's `response_metadata`. Default value fetches the first \"page\" of the collection. See [pagination](/docs/pagination) for more detail.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Typical success response with only public channels. Note how `num_members` and `is_member` are not returned like typical `conversations` objects.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "users.conversations success schema",
                                    "required": [
                                        "channels",
                                        "ok"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "channels": {
                                            "uniqueItems": true,
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/objs_conversation"
                                            }
                                        },
                                        "ok": {
                                            "$ref": "#/components/schemas/defs_ok_true"
                                        },
                                        "response_metadata": {
                                            "required": [
                                                "next_cursor"
                                            ],
                                            "type": "object",
                                            "properties": {
                                                "next_cursor": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    "description": "Schema for successful response from users.conversations method. Returned conversation objects do not include `num_members` or `is_member`"
                                },
                                "example": {
                                    "channels": [
                                        {
                                            "created": 1449252889,
                                            "creator": "U012A3CDE",
                                            "id": "C012AB3CD",
                                            "is_archived": false,
                                            "is_channel": true,
                                            "is_ext_shared": false,
                                            "is_general": true,
                                            "is_group": false,
                                            "is_im": false,
                                            "is_mpim": false,
                                            "is_org_shared": false,
                                            "is_pending_ext_shared": false,
                                            "is_private": false,
                                            "is_shared": false,
                                            "name": "general",
                                            "name_normalized": "general",
                                            "pending_shared": [],
                                            "previous_names": [],
                                            "purpose": {
                                                "creator": "",
                                                "last_set": 0,
                                                "value": "This channel is for team-wide communication and announcements. All team members are in this channel."
                                            },
                                            "topic": {
                                                "creator": "",
                                                "last_set": 0,
                                                "value": "Company-wide announcements and work-based matters"
                                            },
                                            "unlinked": 0
                                        },
                                        {
                                            "created": 1449252889,
                                            "creator": "U061F7AUR",
                                            "id": "C061EG9T2",
                                            "is_archived": false,
                                            "is_channel": true,
                                            "is_ext_shared": false,
                                            "is_general": false,
                                            "is_group": false,
                                            "is_im": false,
                                            "is_mpim": false,
                                            "is_org_shared": false,
                                            "is_pending_ext_shared": false,
                                            "is_private": false,
                                            "is_shared": false,
                                            "name": "random",
                                            "name_normalized": "random",
                                            "pending_shared": [],
                                            "previous_names": [],
                                            "purpose": {
                                                "creator": "",
                                                "last_set": 0,
                                                "value": "A place for non-work-related flimflam, faffing, hodge-podge or jibber-jabber you'd prefer to keep out of more focused work-related channels."
                                            },
                                            "topic": {
                                                "creator": "",
                                                "last_set": 0,
                                                "value": "Non-work banter and water cooler conversation"
                                            },
                                            "unlinked": 0
                                        }
                                    ],
                                    "ok": true,
                                    "response_metadata": {
                                        "next_cursor": "dGVhbTpDMDYxRkE1UEI="
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Typical error response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "users.conversations error schema",
                                    "required": [
                                        "error",
                                        "ok"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "callstack": {
                                            "type": "string",
                                            "description": "Note: PHP callstack is only visible in dev/qa"
                                        },
                                        "error": {
                                            "type": "string",
                                            "enum": [
                                                "method_not_supported_for_channel_type",
                                                "missing_scope",
                                                "invalid_types",
                                                "invalid_cursor",
                                                "invalid_limit",
                                                "not_authed",
                                                "invalid_auth",
                                                "account_inactive",
                                                "token_revoked",
                                                "no_permission",
                                                "invalid_arg_name",
                                                "invalid_array_arg",
                                                "invalid_charset",
                                                "invalid_form_data",
                                                "invalid_post_type",
                                                "missing_post_type",
                                                "team_added_to_org",
                                                "invalid_json",
                                                "json_not_object",
                                                "request_timeout",
                                                "upgrade_required",
                                                "fatal_error"
                                            ]
                                        },
                                        "ok": {
                                            "$ref": "#/components/schemas/defs_ok_false"
                                        }
                                    },
                                    "description": "Schema for error response from users.conversations method"
                                },
                                "example": {
                                    "error": "invalid_auth",
                                    "ok": false
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "slackAuth": [
                            "channels:read",
                            "groups:read",
                            "im:read",
                            "mpim:read"
                        ]
                    }
                ]
            }
        },
        "/users.info": {
            "get": {
                "tags": [
                    "users"
                ],
                "description": "Gets information about a user.",
                "externalDocs": {
                    "description": "API method documentation",
                    "url": "https://api.slack.com/methods/users.info"
                },
                "operationId": "users_info",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Authentication token. Requires scope: `users:read`",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "include_locale",
                        "in": "query",
                        "description": "Set this to `true` to receive the locale for this user. Defaults to `false`",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "user",
                        "in": "query",
                        "description": "User to get info on",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Typical success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "users.info success schema",
                                    "required": [
                                        "ok",
                                        "user"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "$ref": "#/components/schemas/defs_ok_true"
                                        },
                                        "user": {
                                            "$ref": "#/components/schemas/objs_user"
                                        }
                                    },
                                    "description": "Schema for successful response from users.info method"
                                },
                                "example": {
                                    "ok": true,
                                    "user": {
                                        "color": "9f69e7",
                                        "deleted": false,
                                        "has_2fa": false,
                                        "id": "W012A3CDE",
                                        "is_admin": true,
                                        "is_app_user": false,
                                        "is_bot": false,
                                        "is_owner": false,
                                        "is_primary_owner": false,
                                        "is_restricted": false,
                                        "is_ultra_restricted": false,
                                        "name": "spengler",
                                        "profile": {
                                            "avatar_hash": "ge3b51ca72de",
                                            "display_name": "spengler",
                                            "display_name_normalized": "spengler",
                                            "email": "spengler@ghostbusters.example.com",
                                            "image_192": "https://.../avatar/e3b51ca72dee4ef87916ae2b9240df50.jpg",
                                            "image_24": "https://.../avatar/e3b51ca72dee4ef87916ae2b9240df50.jpg",
                                            "image_32": "https://.../avatar/e3b51ca72dee4ef87916ae2b9240df50.jpg",
                                            "image_48": "https://.../avatar/e3b51ca72dee4ef87916ae2b9240df50.jpg",
                                            "image_512": "https://.../avatar/e3b51ca72dee4ef87916ae2b9240df50.jpg",
                                            "image_72": "https://.../avatar/e3b51ca72dee4ef87916ae2b9240df50.jpg",
                                            "image_original": "https://.../avatar/e3b51ca72dee4ef87916ae2b9240df50.jpg",
                                            "real_name": "Egon Spengler",
                                            "real_name_normalized": "Egon Spengler",
                                            "status_emoji": ":books:",
                                            "status_text": "Print is dead",
                                            "team": "T012AB3C4"
                                        },
                                        "real_name": "Egon Spengler",
                                        "team_id": "T012AB3C4",
                                        "tz": "America/Los_Angeles",
                                        "tz_label": "Pacific Daylight Time",
                                        "tz_offset": -25200,
                                        "updated": 1502138686
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Typical error response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "users.info error schema",
                                    "required": [
                                        "error",
                                        "ok"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "callstack": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "string",
                                            "enum": [
                                                "user_not_found",
                                                "user_not_visible",
                                                "not_authed",
                                                "invalid_auth",
[...]
